{% extends "amaze_jquery_base.html" %}

{% block title %}404 Not Found{% end %}

{% block body %}
<center>
    <h2>404. Not Found</h2>
    <p>{{ _('Can not find the page you request') }}</p>
    <p>
    {{ _("This site has't finished. Help me at") }}
      <a href="https://github.com/TylerTemp/tomorrow">github.com/TylerTemp/tomorrow</a>.
    {{ _("Thanks") }}.
    </p>
    <pre>
        .----.
     _.'__    `.
 .--($)($$)---/#\
.' @          /###\
:         ,   #####
`-..__.-' _.-\###/
      `;_:    `"'
    .'"""""`.
   /,  ya ,\\
  //  404!  \\
  `-._______.-'
  ___`. | .'___
 (______|______)
    </pre>
</center>


{% end %}
