{% extends "base.html" %}

{% block neck %}
<link rel="stylesheet" href="/static/css/editor.css">
{% end %}
{% block body%}
<form>
  <div id="wysiwyg_area">
    {% module WysiwygEditor(switch=True, upload_img=True, content=content) %}
  </div>

  <div id="md_area" style="display:none">
    {% module MdEditor(switch=True, upload_img=True, content=content) %}
  </div>

  <button id="submit" type="submit">{{ _("submit") }}</button>
</form>
{% end %}

{% block butt %}
<script src="/static/js/jquery/jquery-textrange.min.js"></script>
<script src="/static/js/md/html2md.min.js"></script>
<script src="/static/js/md/md2html.min.js"></script>
<script src="/static/js/md/editor-wysiwyg.js"></script>
<script src="/static/js/md/editor-md.js"></script>
<script src="/static/js/edit.js"></script>
{% end %}
