{% extends "base.html" %}

{% block title %}
Hi, {{ user }}
{% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/admin.css">
{% end %}

{% block body %}

<!--[if lte IE 9]>
<p class="browsehappy">

{% raw _("""You are using a browser which is <strong>out of date</strong> and we can't handle it correctly. Please <a href="http://updatemybrowser.org/" target="_blank">update your browser</a>, THX!""") %}

</p>
<![endif]-->


<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>{{ _("Tomorrow Becomes Today") }}</strong> | <small>{{ _("I'm") }} {{ user }}</small>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
      <li><a href="#"><span class="am-icon-home"></span> {{ _("Main Page")}} </a></li>
      <li><a href="#"><span class="am-icon-user"></span> {{ _("Personal Info")}} </a></li>
      <li><a href="#"><span class="am-icon-lock"></span> {{ _("Security")}} </a></li>
      <li><a href="#"><span class="am-icon-list-alt"></span> {{ _("Article")}} </a></li>

      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-cloud"></span> {{ _('Uploaded') }} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
          <li><a href="#" class="am-cf"><span class="am-icon-file-image-o"></span> {{ _("Image")}}</a></li>
          <li><a href="#"><span class="am-icon-file"></span> {{ _("File")}}</a></li>
        </ul>

      <li><a href="#"><span class="am-icon-sign-out"></span> {{ _("Logout")}} </a></li>
      </ul>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{{ _("Main Page")}}</strong> / <small>{{ _("Summary") }}</small></div>
    </div>

    {% if not active%}
    <div class="am-g am-padding">
      <div class="am-u-sm-12 am-alert am-alert-warning" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        <p>{{ _("Your account is not active") }}</p>
      </div>
    </div>
    {% end %}

    {% if verify_mail %}
    <div class="am-g am-padding">
      <div class="am-u-sm-12 am-alert am-alert-success" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        <p>{{ _("Please verify your email to active your account") }}</p>
      </div>
    </div>
    {% end %}

  </div>
  <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{% end %}

{% block butt %}
<!--[if lt IE 9]>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/js/polyfill/rem.min.js"></script>
<script src="/static/js/polyfill/respond.min.js"></script>
<script src="/static/js/amazeui.legacy.js"></script>
<![endif]-->
{% end %}
