{% extends "base.html" %}
{% block title %}{{ _("Tyler's Blog") }}{% end %}

{% block neck %}
<style>
  @media only screen and (min-width: 1200px) {
    .blog-g-fixed {
      max-width: 1200px;
    }
  }

  @media only screen and (min-width: 641px) {
    .blog-sidebar {
      font-size: 1.4rem;
    }
  }

  .blog-main {
    padding: 20px 0;
  }

  .blog-title {
    margin: 10px 0 20px 0;
  }

  .blog-meta {
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #222;
  }

  .blog-meta a {
    color: #27ae60;
  }

  .blog-pagination a {
    font-size: 1.4rem;
  }

  .blog-team li {
    padding: 4px;
  }

  .blog-team img {
    margin-bottom: 0;
  }

  .blog-content img,
  .blog-team img {
    max-width: 100%;
    height: auto;
  }

  .blog-footer {
    padding: 10px 0;
    text-align: center;
  }

  @media only screen and (min-width: 1024px) {
    .cover-img {
      max-height: 125px;
    }
  }
</style>
{% end %}

{% block body %}

<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8">
    {% set idx = -1 %}
    {% for idx, each in enumerate(posts) %}
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="{{ each['link' ]}}">{{ each['title'] }}</a>
      </h3>
      <h4 class="am-article-meta blog-meta">
        by <a href="{{ each['author_link'] }}">{{ each['author_name'] }}</a>
        posted on <time datetime="{{ each['post_time_attr'] }}">{{ each['post_time'] }}<time>
        {% if each['tag'] %}
          <span class="am-footer-divider">|</span>
          {% raw each['tag'] %}
        {% end %}
      </h4>
      <div class="am-g blog-content">
        <div class="am-u-lg-{{7 if each['cover'] else 12}}">
          {% raw each['description'] %}
        </div>
        {% if each['cover'] %}
        <div class="am-u-lg-5">
          <p><img class="am-img-responsive am-img-thumbnail cover-img" src="{{ each['cover'] }}"></p>
        </div>
        {% end %}
      </div>
    </article>

    <hr class="am-article-divider blog-hr">
    {% else %}
      {% if idx == -1 %}
        <p>{{ _('Oops... Nothing here.') }}</p>
        <hr class="am-article-divider blog-hr">
      {% end %}
    {% end %}

    <ul class="am-pagination blog-pagination">
      {% if this_page != 1 %}
      <li class="am-pagination-prev"><a href="/page/{{ this_page - 1 }}/ ">&laquo; {{ _('Prev Page') }}</a></li>
      {% end %}
      {% if has_next_page %}
      <li class="am-pagination-next"><a href="/page/{{ this_page + 1 }}/ ">{{ _('Next Page') }} &raquo;</a></li>
      {% end %}
    </ul>
  </div>

  <div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
      <!-- <section class="am-panel am-panel-default">
        <div class="am-panel-hd">{{ 'Category' }}</div>
        <div class="am-panel-bd">
          <a class="am-btn am-btn-success am-btn-sm" href="#"></a>
        </div>
      </section> -->

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">{{ _('Category') }}</div>
        <ul class="am-list blog-list">
          <li>
            <a href="//{{ JOLLA_HOST }}">
            {{ _('Unofficial Jolla Chinese Blog') }} <br>
            <img src="/static/img/unofficial.png" style="max-width:100%;">
            </a>
          </li>
        </ul>
      </section>

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">{{ _('Project') }}</div>
        <ul class="am-list blog-list">
          <li>
            <a href="http://docpie.comes.today">
              <span class="am-monospace" style="font-weight: blod">[docpie]</span>
              <br/>
              <span class="am-link-muted">
                {{ _('An easy & pythonic way to create your command-line interface') }}
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TylerTemp/DroidSailizedIcon" target="_blank">
              <span class="am-monospace" style="font-weight: blod">DroidSailizedIcon</span><span class="am-icon-external-link"></span>
              <br/>
              <span class="am-link-muted">
                {{ _('An Android icon set in Sailfish OS style') }}
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TylerTemp/qstart" target="_blank">
              <span class="am-monospace" style="font-weight: blod">QStart</span><span class="am-icon-external-link"></span>
              <br/>
              <span class="am-link-muted">
                {{ _('A Windows keyboard shortcut program') }}
              </span>
            </a>
          </li>
        </ul>
      </section>

    </div>
  </div>

</div>

{% end %}
