{% extends "base.html" %}

{% block main_title %}{{ article.get('title') }} | {% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/tomorrow/article.css" />
{% end %}


{% block shoulder %}


<div class="am-g-fixed am-g-collapse am-u-sm-centered">

  <div class="am-u-sm-centered">

    {% if article.banner %}
      <img src="{{ article.banner }}" id="title-img">
    {% end %}
    <div class="am-g am-margin-bottom-xl" id="white-bg-box">
      <div class="am-u-sm-12 am-u-sm-centered" id="page-box">
        <article class="am-article">
          <div class="am-article-hd">
            <h1 class="am-article-title">{{ article.get('title') }}</h1>
            {% if article.lang_fit() and article.other_lang() %}
            <div class="am-article-meta am-fr">
            {% raw _('这篇文章有{tag} 中文版{tag_end}').format(
              tag='<a href="./?lang=%s" class="am-icon-link">' % article.other_lang(),
              tag_end='</a>' 
            ) %}
            </div>
            {% end %}
          </div>

          <hr class="am-article-divider">
          <div class="am-article-bd am-margin-xl">
            {% raw md2html(article.get('content')) %}
          </div>
        </article>

        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
        <div class="am-container">
          <div class="am-cf author-container">

            {% if author.photo %}
            <a href="/hi/{{author}}/"><img src="{{ author.photo}}" class="am-fl author-avatar am-circle am-img-thumbnail" /></a>
            {% end %}

            <a href="/hi/{{author}}/"><h6 class="author-name">{{ author }}</h6></a>

            {% if 'show_in_article' in author.intro %}
              {% raw author.get('intro') or '' %}
            {% end %}
            {% if 'show_in_article' in author.donate %}
              {% raw author.get('donate') or '' %}
            {% end %}
          </div>
        </div>

        <div data-am-widget="duoshuo" class="am-duoshuo am-duoshuo-default" data-ds-short-name="tyler" id="comment">
          <div class="ds-thread"
               data-thread-key="{{ article._id }}"
               data-title="{{ article.title }}"
               {% if article.banner %}data-image="{{ article.banner }}"{% end %}
               data-form-position="top">
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  var duoshuoQuery = {short_name:"tyler"};
  (function()
  {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]
    ).appendChild(ds);
  })();
</script>
{% end %}
