{% extends "base.html" %}

{% block main_title %}{{ article.get('title') }} | {% end %}

{% block neck %}
<link rel="stylesheet" href="https://dn-tomorrow.qbox.me/duoshuo/embed.default.css" />
<link rel="stylesheet" href="/static/css/tomorrow/article.css" />
{% end %}


{% block shoulder %}


<div class="am-g-fixed am-g-collapse am-u-sm-centered">

  <div class="am-u-sm-centered">

    {% if article.banner %}
      <img src="{{ article.banner }}" id="title-img">
    {% end %}
    <div class="am-g am-margin-bottom-xl" id="white-bg-box">
      <div class="am-u-sm-12 am-u-sm-centered" id="page-box">
        <article class="am-article">
          <div class="am-article-hd">
            <h1 class="am-article-title">{{ article.get('title') }}</h1>
            {% if article.lang_fit() and article.other_lang() %}
            <div class="am-article-meta am-fr">
            {% raw _('这篇文章有{tag} 中文版{tag_end}').format(
              tag='<a href="./?lang=%s" class="am-icon-link">' % article.other_lang(),
              tag_end='</a>' 
            ) %}
            </div>
            {% end %}
          </div>

          <hr class="am-article-divider">
          <div class="am-article-bd am-margin-xl">
            {% raw md2html(article.get('content')) %}
          </div>
        </article>

        <hr data-am-widget="divider" class="am-divider am-divider-dashed" />

        <div class="am-container">
          <div class="am-cf author-container">


            <a href="https://github.com/TylerTemp/"><img src="https://dn-tyler.qbox.me/avatar/128x128.png" class="am-fl author-avatar am-circle am-img-thumbnail" /></a>

            <a href="https://github.com/TylerTemp/"><h6 class="author-name">TylerTemp</h6></a>

            <p>{{ 'TylerTemp是一只Python程序员。你可以在这些地方找到我哦：' if locale.code[:2].lower() == 'zh' else 'TylerTemp is a Phthon programmer. You can find me here:'}}
              <a class="am-icon-github" href="https://github.com/TylerTemp/" target="_blank"></a>
              <a class="am-icon-wechat" href="https://dn-tyler.qbox.me/mywechat.png" target="_black"></a> &nbsp;
              <a class="am-icon-weibo" href="http://weibo.com/tylertemp" target="_black"></a> &nbsp;
              <a class="am-icon-twitter" href="https://twitter.com/Tyler_Temp_" target="_black"></a> &nbsp;
              <a class="am-icon-google-plus" href="https://plus.google.com/+TylerTemp" target="_black"></a>
            </p>

            <p>{{'如果你喜欢我的作品，你可以买我一杯啤酒，让我做的更好!' if locale.code[:2].lower() == 'zh' else 'If you like my work, you can buy me a cup of beer so I can make it better!'}}
              <a href="https://dn-tyler.qbox.me/myalipay.png" target="_blank"><img src="https://dn-tyler.qbox.me/alipay.ico" style="display:inline"></a>&nbsp;
              | &nbsp;
              <a href="https://flattr.com/submit/auto?user_id=TylerTemp&url=https%3A%2F%2Ftomorrow.comes.today" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a></p>

          </div>
        </div>

        <div data-am-widget="duoshuo" class="am-duoshuo am-duoshuo-default am-padding" data-ds-short-name="tyler" id="comment">
          <div class="ds-thread"
               data-thread-key="{{ article._id }}"
               data-title="{{ article.title }}"
               {% if article.banner %}data-image="{{ article.banner }}"{% end %}
               data-form-position="top">
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  var duoshuoQuery = {short_name:"tyler"};
  (function()
  {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'https://dn-tomorrow.qbox.me/duoshuo/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]
    ).appendChild(ds);
  })();
</script>
{% end %}
