{% extends "base.html" %}
{% block main_title %}{{ _('Edit') if article else _('New Post') }} | {% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/amazeui.tagsinput.css">
<link rel="stylesheet" href="/static/css/editor.css">
<style>
#preview {
  height: 600px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px dashed;
}

#preview img,
#preview video {
  max-width: 100rem;
  height: auto;
}

#mdEditor {
  margin: 0;
  height: 600px;
}


i.am-icon-checked,
i.am-icon-unchecked {
  padding: 8px 0 0 0;
}
</style>
{% end %}


{% block nav_active %}
  {% set nav_active = 'new' %}
{% end %}


{% block shoulder %}
<form class="am-form am-form-horizontal am-center" id="content" method="post" action="{{ request.uri }}">
  <fieldset>
    <legend>{{ _('Edit') if article else _('New Post') }}</legend>

    {% raw xsrf_form_html() %}

    <!-- title -->
    <div class="am-form-group">
      <label for="title" class="am-u-sm-2 am-form-label">{{ _('Title') }}:</label>
      <div class="am-u-sm-10">
        <input type="text" id="title" name="title" value="{{ article.title or '' }}" placeholder="&#xf1dc;*" required="required">
      </div>
    </div>

    <!-- url slug -->
    <div class="am-form-group">
      <label for="slug" class="am-u-sm-2 am-form-label">{{ _("SLUG") }}:</label>
      <div class="am-u-sm-9">
        <input type="text" id="slug" name="slug" value="{{ article.slug or '' }}" placeholder="&#xf0c1;*" required="required"/>
      </div>
      <div class="am-u-sm-1" style="padding:0 15px 0 0">
        <button class="am-btn am-btn-block" id="slug-test" {{ '' if article.slug else 'disabled' }}><span class="am-icon-question"> {{ _('Test') }}</span></button>
      </div>
    </div>

    <!-- tag -->
    <div class="am-form-group">
      <label for="tag" class="am-u-sm-2 am-form-label">{{ _('Tag') }}:</label>
      <div class="am-u-sm-10">
        <input type="text" id="tag" name="tag" value="{{ ','.join(article.tag) }}" placeholder="&#xf02c;">
      </div>
    </div>

    <!-- language -->
    <div class="am-form-group">
      <label class="am-u-sm-2 am-form-label">{{ _('Language') }}:</label>
      <div class="am-u-sm-10">
        <label class="am-radio-inline">
          <input type="radio" name="language" value="zh" data-am-ucheck {{ 'checked' if article.lang != 'en' else '' }}>
          {{ _('Chinese') }}
        </label>
        <label class="am-radio-inline">
          <input type="radio" name="language" value="en" data-am-ucheck {{ 'checked' if article.lang == 'en' else '' }}>
          {{ _('English') }}
        </label>
        <sub>| <a href="./?source={{ 'zh' if article.lang == 'en' else 'en' }}">{{ _('Load %s content') % _('Chinese' if article.lang == 'en' else 'English') }}</a></sub>
      </div>
    </div>

    <!-- article top image -->
    <div class="am-form-group">
      <label for="banner" class="am-u-sm-2 am-form-label">{{ _("Banner") }}:</label>
      <div class="am-u-sm-10">
        <input type="text" id="banner" name="banner" value="{{ article.banner or '' }}" placeholder="&#xf03e; (&#xe600;*)" />
      </div>
    </div>

    <!-- cover image -->
    <div class="am-form-group">
      <label for="cover" class="am-u-sm-2 am-form-label">{{ _("Cover Image") }}:</label>
      <div class="am-u-sm-10">
        <input type="text" id="cover" name="cover" value="{{ article.cover or '' }}" placeholder="&#xf214;" />
      </div>
    </div>

    <!-- description -->
    <div class="am-form-group">
      <label for="description" class="am-u-sm-2 am-form-label">{{ _("Introduction") }}:</label>
      <div class="am-u-sm-10">
        <textarea id="description" name="description" placeholder="&#xf0f6; (&#xe601;)">{{ article.description or '' }}</textarea>
      </div>
    </div>

    <!-- Toolbar -->
    <div class="am-g">
      <div class="am-btn-toolbar am-u-sm-12" id="mdEditorToolbar">
        {% module MdBar() %}

        <!-- Upload -->
        <div class="am-btn-group">
          <button class="am-btn am-btn-primary am-dropdown-toggle" data-role='upload' data-am-popover="{content: '{{ _('Upload File') }}', trigger: 'hover focus'}" data-am-modal="{target: '#upload-file'}">
            <i class="am-icon-upload"></i>
          </button>
        </div>

        <div class="am-btn-group">
          <!-- local preview -->
          <button type="button" class="am-btn am-btn-primary am-radius" id='hide-preview' data-am-button data-am-popover="{content: '{{ _('Hide Preview') }}', trigger: 'hover focus'}"><span class="am-icon-eye-slash" data-am-button></span></button>
          <button type="button" class="am-btn am-btn-primary am-radius" id='local-preview' data-am-popover="{content: '{{ _('Local Preview') }}', trigger: 'hover focus'}"><span class="am-icon-eye"></span></button>
          <!-- config -->
          <div class="am-dropdown am-dropdown-down" data-am-dropdown>
            <button type="button" class="am-btn am-btn-primary am-radius am-dropdown-toggle" data-am-popover="{content: '{{ _('Config Preview') }}', trigger: 'hover focus'}"><span class="am-icon-sliders"></span></button>
            <div class="am-dropdown-content">
              {{ _("Auto local preview interval:") }}
              <br />
              <input type="number" min="0" step="1" id="seconds" placeholder="&#xf05e;"/>
            </div>
          </div>
          <!-- online preview -->
          <button type="button"
                  class="am-btn am-btn-warning am-radius"
                  id='online-preview'
                  data-am-popover="{content: '{{ _('Online Preview') }}', trigger: 'hover focus'}">
            <span class="am-icon-eye"></span>
          </button>
        </div>
      </div>
    </div>

    <!-- Edit/Local Preview -->
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <textarea class="am-form-field am-margin-horizontal" id="mdEditor" name="content" tabindex="0" placeholder="&#xe601; {{ _('MarkDown Syntax Supported') }}" required="required">{{ article.content or '' }}</textarea>
      </div>
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-scrollable-vertical" id="preview"  data-lock="false">
        </div>
      </div>
    </div>

    <div class="am-form-group">
      <div class="am-cf am-u-sm-12 am-padding-vertical">
        <button class="am-btn am-btn-primary am-fr"
                type="submit"
                data-am-loading="{spinner: 'crosshairs', loadingText: ''}">
          <span class="am-icon-arrow-up"> {{ _('Submit') }}</span>
        </button>
      </div>
    </div>

  </fieldset>
</form>

<div class="am-modal am-modal-no-btn" id="upload-file">
  <div class="am-modal-dialog">
    <form class="am-form" method="post" action="/dashboard/uploaded/" enctype="multipart/form-data" tabindex="-1">
      <div class="am-cf am-padding-top am-padding-right">
        <a href="javascript: void(0)" class="am-close am-close-spin am-fr" data-am-modal-close>&times;</a>
      </div>
      <fieldset class="am-modal-bd">
        <legend>{{ _("Upload a file") }}</legend>
        {% raw xsrf_form_html() %}
        <div class="am-form-group">
          <div class="am-input-group am-input-group-primary">
            <label class="am-input-group-label" for="folder"><i class="am-icon-folder-open"></i></label>
            <input type="text" name="folder" id="folder" placeholder="{{ _('Folder') }}"/>
          </div>
        </div>
        <div class="am-form-group">
          <div class="am-input-group am-input-group-secondary">
            <label class="am-input-group-label" for="file"><i class="am-icon-file"></i></label>
            <input type="file" name="file" id="file" multiple="multiple" required="required"/>
          </div>
        </div>
        <div class="am-form-group am-cf">
          <button type="submit" class="am-btn am-btn-primary am-fr" data-am-loading="{spinner: 'spinner', loadingText: ''}"><span class="am-icon-paper-plane"> {{ _('Upload') }}</span></button>
        </div>
      </fieldset>
    </form>
    <hr />
  </div>
</div>
{% end %}
{% block butt %}

<script src="https://dn-tomorrow.qbox.me/jquery-textrange.min.js"></script>
<script src="https://dn-tomorrow.qbox.me/showdown.min.js"></script>
<script src="/static/js/amazeui.tagsinput.min.js"></script>
<script src="/static/js/md/editor-md.js"></script>
<script src="/static/js/edit.js"></script>

{% end %}
