{% extends "base.html" %}
{% block main_title %}{{ _("Tyler's Blog") }} | {% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/tomorrow/home.css" />
{% end %}

{% block nav_active %}
  {% set nav_active = 'home' %}
{% end %}

{% block shoulder %}

<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8">
    {% for article, author in article_and_author %}

    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="/blog/{{ quote(article.slug) }}/">{{ article.get('title') }}
        </a>
      </h3>
        {% if article.current_lang or article.alternative_lang %}
        [{% if article.current_lang %}
         {{ article.current_lang }}
         {% end %}{% if article.current_lang and article.alternative_lang %}
          |
          {% end %}{% if article.alternative_lang %}
            <a href="/blog/{{ quote(article.slug) }}/?lang={{article.alternative_lang }}" class="am-icon-link">{{ article.alternative_lang }}</a>
          {% end %}]
        {% end %}
      <h4 class="am-article-meta blog-meta">
        {% module Time(article.create_time) %}

        {% if article.tag %}
          |
          {% module Tag(article.tag) %}
        {% end %}
      </h4>
      <div class="am-g blog-content">
        <div class="am-u-lg-{{7 if article.cover else 12}}">
          {% raw md2html(article.get('description')) if article.get('description') else escape(article.get('content')[:100]) %}
        </div>
        {% if article.cover %}
        <div class="am-u-lg-5">
          <p><img class="am-img-responsive am-img-thumbnail cover-img" src="{{ article.cover }}"></p>
        </div>
        {% end %}
      </div>
    </article>

    <hr class="am-article-divider blog-hr">
    {% end %}

    <ul class="am-pagination blog-pagination">
      {% if this_page != 1 %}
      <li class="am-pagination-prev"><a href="/page/{{ this_page - 1 }}/ ">&laquo; {{ _('Prev Page') }}</a></li>
      {% end %}
      {% if has_next_page %}
      <li class="am-pagination-next"><a href="/page/{{ this_page + 1 }}/ ">{{ _('Next Page') }} &raquo;</a></li>
      {% end %}
    </ul>
  </div>

  <div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">

      <section class="am-panel am-panel-default">
        <div class="am-panel-bd">
          <div class="am-cf">
            <img src="https://dn-tyler.qbox.me/avatar/128x128.png" class="am-img-responsive am-round am-img-thumbnail am-fl am-margin-sm" style="max-width: 100px; max-height: 100px;">
            <p>{{ _("I'm TylerTemp, python programmer. Welcome to my blog") }} :)</p>
          </div>
          <hr />
          <a class="am-icon-envelope am-icon-btn am-icon-sm contact" href="mailto:tylertempdev@gmail.com" data-am-scrollspy="{animation:'slide-bottom', delay: 0}"></a>
          <a class="am-icon-github am-icon-btn am-icon-sm contact" href="https://github.com/TylerTemp/" target="_black" data-am-scrollspy="{animation:'slide-bottom', delay: 100}"></a>
          <a class="am-icon-google-plus am-icon-btn am-icon-sm contact" href="https://plus.google.com/+TylerTemp" target="_black" data-am-scrollspy="{animation:'slide-bottom', delay: 200}"></a>
          <a class="am-icon-twitter am-icon-btn am-icon-sm contact" href="https://twitter.com/Tyler_Temp_" target="_black" data-am-scrollspy="{animation:'slide-bottom', delay: 300}"></a>
          <a class="am-icon-wechat am-icon-btn am-icon-sm contact" href="https://dn-tyler.qbox.me/mywechat.png" target="_black" data-am-scrollspy="{animation:'slide-bottom', delay: 400}"></a>
          <a class="am-icon-weibo am-icon-btn am-icon-sm contact" href="http://weibo.com/tylertemp" target="_black" data-am-scrollspy="{animation:'slide-bottom', delay: 500}"></a>
        </div>
      </section>

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">{{ _('Category') }}</div>
        <ul class="am-list blog-list">
          <li>
            <a href="//{{ JOLLA_HOST }}">
            {{ _('Unofficial Jolla Chinese Blog') }} <br>
            <img src="/static/img/unofficial.png" style="max-width:100%;">
            </a>
          </li>
        </ul>
      </section>

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">{{ _('Project') }}</div>
        <ul class="am-list blog-list">
          <li>
            <a href="http://docpie.comes.today">
              <span class="am-monospace" style="font-weight: blod">[docpie]</span>
              <br/>
              <span class="am-link-muted">
                {{ _('An easy & pythonic way to create your command-line interface') }}
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TylerTemp/DroidSailizedIcon" target="_blank">
              <span class="am-monospace" style="font-weight: blod">DroidSailizedIcon</span><span class="am-icon-external-link"></span>
              <br/>
              <span class="am-link-muted">
                {{ _('An Android icon set in Sailfish OS style') }}
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TylerTemp/qstart" target="_blank">
              <span class="am-monospace" style="font-weight: blod">QStart</span><span class="am-icon-external-link"></span>
              <br/>
              <span class="am-link-muted">
                {{ _('A Windows keyboard shortcut program') }}
              </span>
            </a>
          </li>
        </ul>
      </section>

    </div>
  </div>

</div>

{% end %}
