{% extends "base.html" %}
{% block title %}{{ _("Login") }}{% end %}

{% block body %}
<div class="header">
  <div class="am-g">
    <a href="/"><h1>{{ _('Tomorrow Comes Today') }}</h1></a>
  </div>
  <hr class="am-divider am-divider-default"/>
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h2>{{ _('Login') }}</h2>
    <hr class="am-divider am-divider-default">

    {% if not ssl %}
    <div class="am-alert am-alert-danger" data-am-alert>
      <button type="button" class="am-close">&times;</button>
      <p>{{ _("Sorry, my site doesn't support SSL secure data transfer so far. Please ensure you're under a secure network environment.") }}</p>
    </div>
    {% end %}

    <form method="post" class="am-form" action="{{ request.uri }}">
      {% raw xsrf_form_html() %}
      <div class="am-form-group">
        <label for="user-or-email">{{ _('User Name or Email') }}:</label>
        <input type="text" name="user" id="user-or-email" placeholder="&#xf007; / &#xf0e0;">
        <label class="error-panel" style="display:none"></label>
      </div>
      <div class="am-form-group">
        <label for="pwd">{{ _('Password') }}:</label>
        <input type="password" name="pwd" id="pwd" placeholder="&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;">
        <label class="error-panel" style="display:none"></label>
      </div>
      <div class="am-alert am-alert-danger" id="server-error" style="display:none">
      </div>
      <div class="am-cf">
        <label for="remember-me">
          <input name="remember" id="remember-me" type="checkbox">
          {{ _("Remember me forever") }}
        </label>
        <br>
        <label><a href="{{ signin }}">{{ _("Signin") }}</a></label>
        <button type="button" id="submit"
            class="am-btn am-btn-primary am-btn-sm am-fr"
            data-am-loading="{spinner: 'circle-o-notch', loadingText: ''}">
          {{ _('Login') }}
        </button>
      </div>
    </form>

    <hr>
  </div>
</div>
{% end %}

{% block butt %}
<script src="/static/js/auth/login.js"></script>
{% end %}
