{% extends "../base.html" %}

{% block title %}
Hi {{ visitor or 'there' }}, I'm {{ user_name }}{% block subtitle %}{% end %}
{% end %}

{% block neck %}
<link rel="stylesheet" href="https://dn-tomorrow.qbox.me/admin.css">
<style>
  .highlight {
    background-color: #E6E6E6;
  }
</style>
{% block throat %}
{% end %}
{% end %}

{% block nav %}
<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <a href="/"><strong>{{ _("Tomorrow Becomes Today") }}</strong></a>  | <span class="am-icon-smile-o"></span> <small> <u><a href="{{ main_url }}/">{{ user_name }}</a></u></small>
  </div>
</header>
{% end %}

{% block body %}

<!--[if lte IE 9]>
<p class="browsehappy">

{% raw _("""You are using a browser which is <strong>out of date</strong> and we can't handle it correctly. Please <a href="http://updatemybrowser.org/" target="_blank">update your browser</a>, THX!""") %}

</p>
<![endif]-->


<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
      <li><a id="home" href="{{ main_url }}/"><span class="am-icon-home am-icon-fw"></span> {{ _("Main Page")}} </a></li>
      <li><a id="article" href="{{ main_url }}/article/"><span class="am-icon-list-alt am-icon-fw"></span> {{ _("Article")}} </a></li>
      <li><a id="msg" href="{{ main_url }}/message/"><span class="am-icon-comment am-icon-fw"></span> {{ _("Leave a Message")}} </a></li>
      </ul>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">{% block guide %}{% end %}</div>
    </div>

    {% block content %}
    {% end %}

  </div>
  <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{% end %}

{% block butt %}
<!--[if lt IE 9]>
<script src="https://dn-tomorrow.qbox.me/modernizr.2.8.3.js"></script>
<script src="https://dn-tomorrow.qbox.me/rem.min.js"></script>
<script src="https://dn-tomorrow.qbox.me/respond.min.js"></script>
<script src="https://dn-tomorrow.qbox.me/amazeui.legacy.2.3.0.min.js"></script>
<![endif]-->
<script>
  $(document).ready(function(){
    $("#{{ act }}").addClass('highlight');
  });
</script>
{% block leg %}{% end %}
{% end %}
