#title-img {
  width: 100%;
  height: auto;
}

#white-bg-box {
  background-color: rgba(242, 229, 255, 0.35);
}

article h1 {
  text-align: center;
}

article p img {
  max-width: 100%;
  height: auto;
  display: inline !important;
}

#page-box {
  padding-top: 50px;
}

video {
  width: 100%;
  height: auto;
}

ruby {
  background-color: rgba(213, 241, 211, 0.4);
  margin: 4px;
  padding: 0 2px;
}

ruby > rt {
  font-style: italic;
  color: #4DB651;
}

.author-avatar {
  max-width: 100px;
  margin: 10px;
}

.author-container {
  margin: 5px 20px 10px 20px;
}

.author-name {
  margin: 0;
}