#wysiwygEditor, #mdEditor {
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    margin-top: 2px;
    resize: vertical;
    overflow: auto;
    min-height: 300px;
    padding: 1em;
    width: 100%;
}

#mdEditorToolbar {
    width: 100%;
}

#wysiwygEditor img {
    max-width: 450px;
    height: auto;
}

#md-img-preview img,
#wys-img-preview img {
    width: 100%;
    margin-top: 5px;
}



#md-url,
#wys-url,
#md-url-text,
#wys-url-text,
#md-img-url,
#wys-img-url,
#md-file-select,
#wys-file-select {
    min-width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#md-img-url {
    margin-bottom: 0px;
}

#swith_to_md, #swith_to_wysiwyg {
    float: right;
}

.nobottom {
    margin-bottom: 0px;
}


#md-img-url-preview,
#wys-img-url-preview,
#md-img-url-insert,
#wys-img-url-insert,
#md-img-select-insert,
#wys-img-select-insert,
#md-img-upload-insert,
#wys-img-upload-insert,
#md-url-insert,
#wys-url-insert {
    float: right;
}
