{% extends "../../amaze_jquery_base.html" %}

{% block title %}{% block sub_title %}{% end %} Wordz {% end %}
{% block site_kwd %}glossary quiz, vocabulary quiz{% end %}
{% block site_description %}Make your own glossary and quiz{% end %}

{% block webapp %}{% end %}

{% block body %}
  {% block active %}{% set active = "home" %}{% end %}
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="/project/wordz/" class="am-monospace">
        <span class="am-icon-medium" style="transform:rotate(200deg);-ms-transform:rotate(200deg);-moz-transform:rotate(200deg);-webkit-transform:rotate(200deg);-o-transform:rotate(200deg);"></span>
        Wordz
      </a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li {% if active == 'home' %} class="am-active" {% end %}><a href="/project/wordz/" class="am-icon-home"> {{ _('Home') }}</a></li>
        <li {% if active == 'quiz' %} class="am-active" {% end %}><a href="/project/wordz/quiz/" class="am-icon-graduation-cap"> {{ _('Quiz') }}</a></li>
        <li {% if active == 'modify' %} class="am-active" {% end %}><a href="/project/wordz/modify/" class="am-icon-edit"> {{ _('Edit') }}</a></li>
      </ul>
    </div>
  </div>
</header>
  {% block content %}{% end %}
{% end %}
