{% extends "../../base.html" %}

{% block subtitle %}[{{ _('Author') }} &#60; Jolla &#60; {{ _('Manage') }}]{% end %}

{% block guide %}
<span class="am-icon-pencil"> <strong class="am-text-primary am-text-lg">{{ _("Author") }}</strong></span> / <small>{{ _("Manage Jolla Author") }}</small>
{% end %}

{% block content %}
<hr class="am-divider am-divider-default">

<div class="am-padding-horizontal">
  <div class="am-panel-group" id="authors">
    {% for name, id, status in author_and_status %}
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">
        <h4 class="am-panel-title" data-am-collapse="{parent: '#authors', target: '#{{ id }}'}">
          {{ name }}
          {% if status %}
            <span class="am-fr am-icon-check am-text-success"></span>
          {% else %}
            <span class="am-fr am-icon-close am-text-warning"></span>
          {% end %}
        </h4>
      </div>
      <div id="{{ id }}" class="am-panel-collapse am-collapse" data-role="detail" data-name="{{ name }}">
        <div class="am-panel-bd">

        </div>
      </div>
    </div>
    {% end %}
  </div>
</div>

{% end %}


{% block leg %}
<script src="/static/js/dash/manage/jolla/author.js"></script>
{% end %}
