{% extends "../base.html" %}

{% block title %}
Hi, {{ user_name }}{% block subtitle %}{% end %}
{% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/admin.css">
{% block throat %}
{% end %}
{% end %}

{% block body %}

<!--[if lte IE 9]>
<p class="browsehappy">

{% raw _("""You are using a browser which is <strong>out of date</strong> and we can't handle it correctly. Please <a href="http://updatemybrowser.org/" target="_blank">update your browser</a>, THX!""") %}

</p>
<![endif]-->


<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <a href="/"><strong>{{ _("Tomorrow Becomes Today") }}</strong></a>  | <span class="am-icon-cog"></span> <small> <u><a href="{{ main_url }}/">{{ user_name }}</a></u></small>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
      <li><a href="{{ main_url }}/"><span class="am-icon-home"></span> {{ _("Main Page")}} </a></li>
      <li><a href="{{ main_url }}/info/"><span class="am-icon-user"></span> {{ _("Personal Info")}} </a></li>
      <li><a href="{{ main_url }}/secure/"><span class="am-icon-lock"></span> {{ _("Security")}} </a></li>
      <li><a href="{{ main_url }}/article/"><span class="am-icon-list-alt"></span> {{ _("Article")}} </a></li>
      <li><a href="{{ main_url }}/message/"><span class="am-icon-comment"></span> {{ _("Message")}} </a></li>

      {% if user_type != NORMAL %}
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-cloud"></span> {{ _('Uploaded') }} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
          <li><a href="{{ main_url }}/img/" class="am-cf"><span class="am-icon-file-image-o"></span> {{ _("Gallery")}}</a></li>
          <li><a href="{{ main_url }}/file/"><span class="am-icon-file"></span> {{ _("File")}}</a></li>
        </ul>
      </li>
      {% end %}

      <li><a href="#" id="signout"><span class="am-icon-sign-out"></span> {{ _("Logout")}} </a></li>
      </ul>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">{% block guide %}{% end %}</div>
    </div>

    {% block content %}
    {% end %}

  </div>
  <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{% end %}

{% block butt %}
<!--[if lt IE 9]>
{% if ssl %}
<script src="https://dn-tomorrow.qbox.me/modernizr.2.8.3.js"></script>
<script src="https://dn-tomorrow.qbox.me/rem.min.js"></script>
<script src="https://dn-tomorrow.qbox.me/respond.min.js"></script>
<script src="https://dn-tomorrow.qbox.me/amazeui.legacy.2.3.0.min.js"></script>
{% else %}
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="http://7xizua.com1.z0.glb.clouddn.com/rem.min.js"></script>
<script src="http://7xizua.com1.z0.glb.clouddn.com/respond.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.3.0/js/amazeui.legacy.min.js"></script>
{% end %}
<![endif]-->
<script>
  $("#signout").click(function(evt)
  {
    evt.preventDefault();
    logout();
    return window.location.href = '/';
  });
</script>
{% block leg %}{% end %}
{% end %}
