{% extends "../base.html" %}

{% block title %}
Hi, {{ user_name }} {% block subtitle %}{% end %}
{% end %}

{% block neck %}
<link rel="stylesheet" href="https://dn-tomorrow.qbox.me/admin.css">
<style>
  .highlight {
    background-color: #F7F7F7;
  }
</style>
{% block throat %}
{% end %}
{% end %}

{% block nav %}

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <a href="/"><strong>{{ _("Tomorrow Becomes Today") }}</strong></a>  | <span class="am-icon-cog"></span> <small> <u><a href="{{ main_url }}/">{{ user_name }}</a></u></small>
  </div>
  <div class="am-dropdown am-topbar-brand am-fr" data-am-dropdown  data-role="switch-lang-dropper">
    <button class="am-btn am-btn-success am-dropdown-toggle am-btn-sm"><span class="am-icon-globe"> </span> <span class="am-icon-caret-down"></span></button>
    <ul class="am-dropdown-content">
      <li class="{{ 'am-active' if locale.code[:2] == 'zh' else '' }}">
        <a href="./?lang=zh" data-role="switch-lang" data-lang="zh"><span class="am-badge am-badge-success">zh-CN</span> 中文/Chinese</a>
      </li>
      <li class="{{ 'am-active' if locale.code[:2] == 'en' else '' }}">
        <a href="./?lang=en" data-role="switch-lang" data-lang="en"><span class="am-badge am-badge-success">en-US</span> 英文/English</a>
      </li>
    </ul>
  </div>
</header>


{% end %}


{% block body %}

<!--[if lte IE 9]>
<p class="browsehappy">

{% raw _("""You are using a browser which is <strong>out of date</strong> and we can't handle it correctly. Please <a href="http://updatemybrowser.org/" target="_blank">update your browser</a>, THX!""") %}

</p>
<![endif]-->

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
      <li><a data-act="home" href="{{ main_url }}/"><span class="am-icon-home am-icon-fw"></span> {{ _("Main Page")}} </a></li>
      <li><a data-act="info" href="{{ main_url }}/info/"><span class="am-icon-user am-icon-fw"></span> {{ _("Personal Info")}} </a></li>
      <li><a data-act="secure" href="{{ main_url }}/secure/"><span class="am-icon-lock am-icon-fw"></span> {{ _("Security")}} </a></li>
      <li><a data-act="article" href="{{ main_url }}/article/"><span class="am-icon-list-alt am-icon-fw"></span> {{ _("Article")}} </a></li>
      <li><a data-act="msg" href="{{ main_url }}/message/"><span class="am-icon-comment am-icon-fw"></span> {{ _("Message")}} {% if MESSAGENUM %}<span class="am-badge am-badge-secondary am-margin-right am-fr">{{ MESSAGENUM }}</span>{% end %}</a></li>

      {% if SERVICE %}
      <!-- Service | start -->
      <li class="admin-parent">
        <a class="am-cf" data-act="service" data-am-collapse="{target: '#service'}"><span class="am-icon-cloud"></span> {{ _('Service') }} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="service">
          {% if 'ss' in SERVICE %}
          <li><a data-act="service-ss" href="{{ main_url }}/service/ss/"><span class="am-icon-send am-icon-fw"></span> {{ _('ShadowSocks')}}</a></li>
          {% end %}
        </ul>
      </li>
      <!-- Service | end -->
      {% end %}

      {% if user_type > NORMAL %}
      <!-- Upload | start -->
      <li class="admin-parent">
        <a class="am-cf" data-act="uploaded" data-am-collapse="{target: '#uploaded'}"><span class="am-icon-cloud"></span> {{ _('Uploaded') }} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="uploaded">
          <li><a data-act="uploaded-img" href="{{ main_url }}/img/"><span class="am-icon-file-image-o am-icon-fw"></span> {{ _("Gallery")}}</a></li>
          <li><a data-act="uploaded-file" href="{{ main_url }}/file/"><span class="am-icon-file am-icon-fw"></span> {{ _("File")}}</a></li>
        </ul>
      </li>
      <!-- Upload | end -->

      <!-- manage | start -->
      <li class="admin-parent">
        <a class="am-cf" data-act="manage" data-am-collapse="{target: '#manage'}"><span class="am-icon-wrench"></span> {{ _('Manage') }} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="manage">
          <!-- manage-jolla | start -->
          <li>
            <a class="am-cf" data-act="manage-jolla" data-am-collapse="{target: '#jolla'}"><span class="iconfont icon-jolla"></span> {{ _('Jolla') }} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub am-in" id="jolla">
              <li>
                <a data-act="manage-jolla-post" href="{{ main_url }}/manage/jolla/post"><span class="am-icon-newspaper-o"> {{ _("Post")}}</span></a>
              </li>
              <li>
                <a data-act="manage-jolla-author" href="{{ main_url }}/manage/jolla/author"><span class="am-icon-pencil"> {{ _("Author")}}</span></a>
              </li>
            </ul>
          </li>
          <!-- manage-jolla | end -->
          <li><a data-act="manage-user" href="https://{{ MAIN_HOST }}{{ main_url }}/manage/user/"><span class="am-icon-user am-icon-fw"></span> {{ _('User') }}</a></li>
        </ul>
      </li>
      <!-- manage | end -->
      {% end %}

      <li><a href="/logout/" id="signout"><span class="am-icon-sign-out am-icon-fw"></span> {{ _("Logout")}} </a></li>
      </ul>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf">{% block guide %}{% end %}</div>
    </div>

    {% block content %}
    {% end %}

  </div>
  <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{% end %}

{% block butt %}
<!--[if lt IE 9]>
<script src="https://dn-tomorrow.qbox.me/modernizr.2.8.3.js"></script>
<script src="https://dn-tomorrow.qbox.me/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script>
  $("#signout").click(function(evt)
  {
    evt.preventDefault();
    logout();
    return window.location.href = '/';
  });

  $(document).ready(function(){
    {% for each in act %}
      console.log("{{ each }}");
      $('[data-act="{{ each }}"]').addClass('highlight');
    {% end %}
  });
</script>
{% block leg %}{% end %}
{% end %}
