{% extends "base.html" %}

{% block guide %}<span class="am-icon-file-o"> <strong class="am-text-primary am-text-lg">{{ _("File") }}</strong></span> / <small>{{ _("All files you uploaded") }}</small>{% end %}

{% block content %}

<div class="am-padding am-g">
  <div class="am-u-sm-3 am-text-right">
    <span class="am-icon-cloud-upload"> {{_("Upload")}}:</span>
  </div>
  <div class="am-u-sm-9">
    <input type="file" id="file" class="am-form-field am-input-sm">
    <div class="am-progress am-progress-striped am-progress-sm am-active">
      <div class="am-progress-bar am-progress-bar-secondary" id="bar"></div>
    </div>
  </div>
</div>

<div class="am-padding am-g" id="info-panel">
</div>

<ul class="am-avg-sm-2 am-avg-md-5 am-margin gallery-list" id="list">
  {% for file in files %}
  <li>
    <div class="am-panel am-panel-default">
      <div class="am-panel-bd">
        <a href="{{ file['url'] }}" target="_blank"><span class="{{ file['icon'] }}"> {{ file['name'] }} / <small>{{ file['size'] }}</small></span></a>
      </div>
      <div class="am-cf">
        <button type="button" class="am-btn am-btn-warning am-btn-xs am-fr delete"
          data-am-loading="{spinner: 'times-circle-o', loadingText: '{{ _("Deleting...") }}', resetText: '<span class=&quot;am-icon-trash&quot;></span>'}"
          data-name="{{ file['name'] }}">
            <span class="am-icon-trash"></span>
        </button>
      </div>
    </div>
  </li>
  {% end %}
</ul>

{% end %}


{% block leg %}
<script>
  var IMG_ONLY = false;
  var MAX_SIZE = {{ 'undefined' if size_limit == float('inf') else size_limit }};
  var mknode = function(url, name, size, icon)
  {
    return $(
      ('<li>' +
        '<div class="am-panel am-panel-default">' +
          '<div class="am-panel-bd">' +
            '<a href="{0}" target="_blank"><span class="{3}"> {1} / <small>{2}</small></span></a>' +
          '</div>' +
          '<div class="am-cf">' +
            '<button type="button" class="am-btn am-btn-warning am-btn-xs am-fr delete"' +
              'data-am-loading="{spinner: \'times-circle-o\', loadingText: \'{{ _("Deleting...") }}\', resetText: \'<span class=&quot;am-icon-trash&quot;></span>\'}"' +
              'data-name="{1}">' +
                '<span class="am-icon-trash"></span>' +
            '</button>' +
          '</div>' +
        '</div>' +
      '</li>').format(url, name, size, icon)
    );
  }
</script>
<script src="/static/js/dash/file.js"></script>
{% end %}
