{% extends "../../base.html" %}

{% block subtitle %} | {{ _('Post') }} &#60; Jolla &#60; {{ _('Manage') }} {% end %}

{% block highlight %}
  {% set highlight = ['manage', 'manage-jolla', 'manage-jolla-post'] %}
{% end %}

{% block guide %}
<span class="iconfont icon-jolla"> <strong class="am-text-primary am-text-lg">{{ _("Jolla") }}</strong></span> / <small>{{ _("Manage all Jolla posts") }}</small>
{% end %}

{% block content %}

<hr class="am-divider am-divider-default">

<div class="am-panel-group am-padding-horizontal" id="posts">
{% for each in jolla %}
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd am-g am-cf">
      <h4 class="am-panel-title"
          data-am-collapse="{parent: '#posts', target: '#{{ each['id'] }}'}">
        {{ each['title'] }}
        {% if each['translated'] %}
          <span class="am-fr am-icon-check am-text-success"> {{ each['trans_num'] if each['trans_num'] != 1 else '' }}</span>
        {% elif each['trans_num'] %}
          <span class="am-fr am-icon-info-circle am-text-warning"> {{ each['trans_num'] }}</span>
        {% end %}
      </h4>

    </div>
    <div id="{{ each['id'] }}" class="am-panel-collapse am-collapse" data-empty="true" data-role="detail">
      <div class="am-panel-bd am-padding">
      </div>
    </div>
  </div>
{% end %}
</div>

{% end %}

{% block leg %}
<script src="/static/js/dash/manage/jolla/post.js"></script>
{% end %}
