{% extends "../base.html" %}

{% block subtitle %} | {{ _('User') }} &#60; {{ _('Manage') }}{% end %}

{% block highlight %}
  {% set highlight = ['manage', 'manage-user'] %}
{% end %}

{% block guide %}
<span class="am-icon-user"> <strong class="am-text-primary am-text-lg">{{ _("User") }}</strong></span> / <small>{{ _("Manage all users in this site") }}</small>
{% end %}

{% block content %}
<!-- TODO: Load by AJAX when num of Users grows big -->

<!-- tab | start -->
<div class="am-tabs" data-am-tabs>

  <!-- tab-label | start -->
  <ul class="am-tabs-nav am-nav am-nav-tabs">
    <li class="am-active"><a href="#user-registered">{{ _('Registered') }}</a></li>
    <li><a href="#user-invite">{{ _('Invite') }}</a></li>
  </ul>
  <!-- tab-label | end -->

  <!-- tab-body | start -->
  <div class="am-tabs-bd">

    <!-- panel-tab | start -->
    <div class="am-tab-panel am-active" id="user-registered">
      <!-- panel | start -->
      <div class="am-panel-group am-padding-horizontal" id="user-coll">

        {% for each in all_users %}
        <div class="am-panel am-panel-default" data-role="user-panel">
          <div class="am-panel-hd">
            <h4 class="am-panel-title" data-am-collapse="{parent: '#user-coll', target: '#collapse-{{ each['_id'] }}'}">
              {{ each['user'] }}
              <span class="am-fr am-icon-fw {% if each['type'] == ROOT %} am-icon-user-md am-text-secondary {% elif each['type'] == ADMIN %} am-icon-user-plus am-text-success {% else %} am-icon-user {% end %}"></span>
              {% if not each['active'] %}
              <span class="am-fr am-text-danger am-icon-frown-o"></span>
              {% end %}
            </h4>
          </div>
          <div id="collapse-{{ each['_id'] }}" class="am-panel-collapse am-collapse">
            <div class="am-panel-bd">

              <div class="am-g">
                <div class="am-u-sm-12 am-u-md-3">
                  <img class="am-round am-img-thumbnail" src="{{ each.get('img', '/static/img/user.jpg') }}">
                </div>
                <form id="{{ each['_id'] }}" class="am-form am-u-sm-12 am-u-md-9" action="{{ request.uri }}" method="post">
                  <fieldset>
                    <legend>{{ each['user'] }}</legend>
                    {% raw xsrf_form_html() %}
                    <input name="id" value="{{ each['_id'] }}" style="display:none">

                    <!-- Active status -->
                    <div class="am-form-group">
                      <label class="am-checkbox">
                        <input type="checkbox" class="am-novalidate" name="active" data-am-ucheck {{ 'checked' if each['active'] else '' }}> {{ _('Actived') }}
                      </label>
                    </div>

                    <!--Show Email-->
                    <div class="am-form-group">
                      <label class="am-checkbox">
                        <input type="checkbox" class="am-novalidate" name="show_email" data-am-ucheck {{ 'checked' if each['show_email'] else '' }}> {{ _('Show email on dashboard') }}
                      </label>
                    </div>

                    <!--Show Intro-->
                    <div class="am-form-group">
                      <label>
                        <span class="am-icon-info-circle">
                          {{ _("Show Introduction on") }}
                        </span>
                      </label>:
                      <label class="am-checkbox">
                        <input class="am-novalidate" name="intro_in_home" type="checkbox" data-am-ucheck {{ 'checked' if each['intro']['show_in_home'] else '' }}>
                        <span class="am-icon-home"> {{ _('My Home Page') }}</span>
                      </label>
                      <label class="am-checkbox">
                        <input class="am-novalidate" name="intro_in_article" type="checkbox" data-am-ucheck {{ 'checked' if each['intro']['show_in_article'] else '' }}>
                        <span class="am-icon-list-alt"> {{ _('My Articles') }}</span>
                      </label>
                    </div>

                    <!--Show Donation-->
                    <div class="am-form-group">
                      <label>
                        <span class="am-icon-credit-card">
                          {{ _("Show Donation on") }}
                        </span>
                      </label>:
                      <label class="am-checkbox">
                        <input class="am-novalidate" name="donate_in_home" type="checkbox" data-am-ucheck {{ 'checked' if each['donate']['show_in_home'] else '' }}>
                        <span class="am-icon-home"> {{ _('My Home Page') }}</span>
                      </label>
                      <label class="am-checkbox">
                        <input class="am-novalidate" name="donate_in_article" type="checkbox" data-am-ucheck {{ 'checked' if each['donate']['show_in_article'] else '' }}>
                        <span class="am-icon-list-alt"> {{ _('My Articles') }}</span>
                      </label>
                    </div>

                    <!-- Language -->
                    <div class="am-form-group">
                      <label>{{ _('Default Language') }}</label>
                      <label class="am-radio">
                        <input type="radio" class="am-novalidate" name="lang" value="zh" data-am-ucheck {{ 'checked' if each.get('lang', None) == 'zh' else ''}}> {{ _('Chinese') }}
                      </label>
                      <label class="am-radio">
                        <input type="radio" class="am-novalidate" name="lang" value="en" data-am-ucheck {{ 'checked' if each.get('lang', None) == 'en' else ''}}> {{ _('English') }}
                      </label>
                      <label class="am-radio">
                        <input type="radio" class="am-novalidate" name="lang" value="none" data-am-ucheck {{ 'checked' if each.get('lang', None) is None else ''}}> {{ _('Depending on the browser') }}
                      </label>
                    </div>

                    <!-- User Group -->
                    <div class="am-form-group">
                      <label>{{ _('Group') }}</label>
                      <label class="am-radio">
                        <input type="radio" class="am-novalidate" name="group" value="0" data-am-ucheck {{ 'checked' if each['type'] < ADMIN else ''}}> {{ _('Normal User') }}
                      </label>
                      <label class="am-radio am-success">
                        <input type="radio" class="am-novalidate" name="group" value="{{ ADMIN }}" data-am-ucheck {{ 'checked' if each['type'] == ADMIN else ''}}> {{ _('Admin') }}
                      </label>
                      <label class="am-radio am-secondary">
                        <input type="radio" class="am-novalidate" name="group" value="{{ ROOT }}" data-am-ucheck {{ 'checked' if each['type'] == ROOT else ''}}> {{ _('Super User') }}
                      </label>
                    </div>

                    <!-- Available services -->
                    <div class="am-form-group">
                      <label>{{ _('Service') }}</label><br/>
                      <label class="am-checkbox">
                        <input type="checkbox" class="am-novalidate" name="ss" value="0" data-am-ucheck {{ 'checked' if 'ss' in each.get('service', ()) else ''}}><span class="am-icon-send"> {{ _('ShadowSocks') }}</span>
                      </label>
                    </div>

                    <!-- User Name -->
                    <div class="am-form-group">
                      <label for="name-{{ each['_id'] }}">{{ _('User Name') }}</label>
                      <input type="text" name="user"
                          class="js-pattern-user"
                          value="{{ each['user'] or '' }}"
                          id="name-{{ each['_id'] }}"
                          placeholder="{{ _('Enter user name') }}"
                          data-min-length="2"
                          maxlength="100">
                    </div>

                    <!-- Email -->
                    <div class="am-form-group">
                      <label for="email-{{ each['_id'] }}">{{ _('Email') }}</label>
                      <input type="text" name="email"
                          class="js-pattern-email"
                          value="{{ each['email'] or '' }}"
                          id="email-{{ each['_id'] }}"
                          placeholder="{{ _('Enter email') }}">
                    </div>

                    <!-- Avatar -->
                    <div class="am-form-group">
                      <label for="photo-{{ each['_id'] }}">{{ _('Avatar') }}</label>
                      <input type="text" name="avatar" class="am-novalidate" value="{{ each.get('img', '') }}" id="photo-{{ each['_id'] }}" placeholder="{{ _('Enter the url of avatar') }}">
                    </div>

                    <!-- Password -->
                    <div class="am-form-group">
                      <label class="am-checkbox">
                        <input type="checkbox" class="am-novalidate" name="change_pwd" data-am-ucheck> {{ _('Change Password') }}
                      </label>
                      <input type="password" name="pwd"
                          {% if each['pwd'] %} value="********" data-pwd="********" {% end %}
                          minlength="8"
                          placeholder="{{ _('Enter the password') }}"
                          disabled="disabled">
                      <span class="am-icon-warning am-text-danger" data-role="pwd-error" style="display:none"></span>
                    </div>
                    <div class="am-form-group" data-role="repwd" style="display:none">
                      <label for="repwd-{{ each['_id'] }}">{{ _('Confirm Password') }}</label>
                      <input class="am-novalidate" type="password" name="repwd" id="repwd-{{ each['_id'] }}" placeholder="{{ _('Re-enter the password') }}">
                      <span class="am-icon-info-circle am-text-warning" data-role="repwd-error" style="display:none"></span>
                    </div>

                    <!-- Intro -->
                    <div class="am-form-group">
                      <label for="intro" class="am-icon-info"> {{ _('Introduction') }}:</label>
                      <textarea class="am-novalidate" id="intro" name="intro" placeholder="&#xe601; {{ _('MarkDown Syntax Supported') }}">
                        {{ each['intro']['content'] or '' }}</textarea>
                    </div>

                    <!-- Donate -->
                    <div class="am-form-group">
                      <label for="donate" class="am-icon-credit-card"> {{ _('Donating information') }}</label>
                      <textarea class="am-novalidate" id="donate" name="donate" placeholder="&#xe601; {{ _('MarkDown Syntax Supported') }}">
                        {{ each['donate']['new'] or '' }}</textarea>
                      <textarea class="am-novalidate" name="donate_old" placeholder="&#xe601; {{ _('MarkDown Syntax Supported') }}">
                        {{ each['donate']['old'] or '' }}</textarea>
                    </div>

                    <!-- Donate status -->
                    <div class="am-form-group">
                      <label for="donate_info">{{ ('Donating Infomation Status') }}</label>
                      <input id="donate_info" class="am-novalidate" name="donate_info" value="{{ each['donate']['info'] or '' }}" type="text" placeholder="&#xf00c;">
                    </div>

                    <!-- Buttons -->
                    <p>
                      <button type="submit" class="am-btn am-btn-success"
                          data-am-loading="{spinner: 'spinner', loadingText: '', pause: 'true'}">
                        <span class="am-icon-save"> {{ _('Save') }}</span>
                      </button>
                      <button
                          class="am-btn am-btn-warning"
                          data-id="{{ each['_id'] }}"
                          data-role="delete"
                          data-am-loading="{spinner: 'spinner', loadingText: '', pause: 'true'}">
                        <span class="am-icon-trash">
                          {{ _('Delete') }}
                        </span>
                      </button>
                    </p>

                  </fieldset>
                </form>
                <div class="am-u-sm-12" data-role="info-panel">
                </div>
              </div>

            </div>
          </div>
        </div>
        {% end %}

      <!-- panel | end -->
      </div>
    <!-- tab-panel | end -->
    </div>
    <!-- tab-invite | start -->
    <div class="am-tab-panel am-padding-horizontal" id="user-invite">
      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-3">
          <img class="am-round am-img-thumbnail am-fr" src="/static/img/user.jpg">
        </div>
        <form class="am-form am-u-sm-12 am-u-md-9" action="{{ request.uri }}" method="post">
          <fieldset>
            <legend>{{ _('Invite Someone In') }}</legend>
            {% raw xsrf_form_html() %}
            <input name="action" value="invite" style="display:none">
            <div>
              <label class="am-checkbox">
                <input type="checkbox" class="am-novalidate" name="active" data-am-ucheck> {{ _('Actived') }}
              </label>
            </div>
            <div>
              <label class="am-checkbox">
                <input type="checkbox" class="am-novalidate" name="show_email" data-am-ucheck> {{ _('Show email on dashboard') }}
              </label>
            </div>
            <div class="am-form-group">
              <label>{{ _('Default Language') }}</label><br/>
              <label class="am-radio-inline">
                <input type="radio" class="am-novalidate" name="lang" value="zh" data-am-ucheck> {{ _('Chinese') }}
              </label>
              <label class="am-radio-inline">
                <input type="radio" class="am-novalidate" name="lang" value="en" data-am-ucheck> {{ _('English') }}
              </label>
              <label class="am-radio-inline">
                <input type="radio" class="am-novalidate" name="lang" checked data-am-ucheck> {{ _('Depending on the browser') }}
              </label>
            </div>
            <div class="am-form-group">
              <label>{{ _('Group') }}</label><br/>
              <label class="am-radio-inline">
                <input type="radio" class="am-novalidate" name="group" value="0" checked data-am-ucheck> {{ _('Normal User') }}
              </label>
              <label class="am-radio-inline am-success">
                <input type="radio" class="am-novalidate" name="group" value="{{ ADMIN }}" data-am-ucheck> {{ _('Admin') }}
              </label>
              <label class="am-radio-inline am-secondary">
                <input type="radio" class="am-novalidate" name="group" value="{{ ROOT }}" data-am-ucheck> {{ _('Super User') }}
              </label>
            </div>
            <div class="am-form-group">
              <label>{{ _('Service') }}</label><br/>
              <label class="am-checkbox">
                <input type="checkbox" class="am-novalidate" name="ss" value="0" data-am-ucheck><span class="am-icon-send"> {{ _('ShadowSocks') }}</span>
              </label>
            </div>
            <div class="am-form-group">
              <label for="name-invite">{{ _('User Name') }}</label>
              <input type="text" name="user"
                  class="js-pattern-user"
                  id="name-invite"
                  placeholder="{{ _('Enter user name') }}"
                  minlength="2"
                  data-min-length="2"
                  maxlength="100">
            </div>
            <div class="am-form-group">
              <label for="email-{{ each['_id'] }}">{{ _('Email') }}</label>
              <input type="text" name="email"
                  class="js-pattern-email"
                  id="email-invite"
                  placeholder="{{ _('Enter email') }}">
            </div>
            <div class="am-form-group">
              <label for="photo-invite">{{ _('Avatar') }}</label>
              <input type="text" name="avatar" class="am-novalidate" id="photo-invite" placeholder="{{ _('Enter the url of avatar') }}">
            </div>
            <div class="am-form-group">
              <label for="pwd-invite">{{ _('Password') }}</label>
              <input type="password" name="pwd" id="pwd-invite"
                  placeholder="{{ _('Enter the password') }}">
              <span class="am-icon-warning am-text-danger" data-role="pwd-error" style="display:none"></span>
            </div>
            <div class="am-form-group" data-role="repwd">
              <label for="repwd-invite">{{ _('Confirm Password') }}</label>
              <input type="password" name="repwd" class="am-novalidate" id="repwd-invite" placeholder="{{ _('Re-enter the password') }}">
              <span class="am-icon-info-circle am-text-warning" data-role="repwd-error" style="display:none"></span>
            </div>
            <p>
              <button type="submit" class="am-btn am-btn-success"
                  data-am-loading="{spinner: 'spinner', loadingText: '', pause: 'true'}">
                <span class="am-icon-save"> {{ _('Save') }}</span>
              </button>
            </p>

          </fieldset>
        </form>
      </div>

    </div>
    <!-- tab-invite | end -->

  <!-- tab-body | end -->
  </div>

<!-- tab | end -->
</div>
{% end %}


{% block leg %}
<script src="/static/js/dash/manage/user.js"></script>
{% end %}
