<div class="am-g">
	<div class="am-u-sm-12 am-btn-toolbar" id="wysiwygEditorToolbar">
		<div class='am-btn-group'>
			<button class="am-btn am-btn-primary" data-role='bold' data-am-popover="{content: '{{ _('Bold') }}', trigger: 'hover focus'}"><i class="am-icon-bold"></i></button>
			<button class="am-btn am-btn-primary" data-role='italic' data-am-popover="{content: '{{ _('Italic') }}', trigger: 'hover focus'}"><i class="am-icon-italic"></i></button>
		</div>
		<div class='am-btn-group'>
			<button class="am-btn am-btn-primary" data-role='indent' data-am-popover="{content: '{{ _('Indent') }}', trigger: 'hover focus'}"><i class="am-icon-indent"></i></button>
			<button class="am-btn am-btn-primary" data-role='outdent' data-am-popover="{content: '{{ _('Dedent') }}', trigger: 'hover focus'}"><i class="am-icon-outdent"></i></button>
			<button class="am-btn am-btn-primary" data-role='insertHorizontalRule' data-am-popover="{content: '{{ _('Insert Horizontal') }}', trigger: 'hover focus'}"><i class="am-icon-ellipsis-h"></i></button>
			<button class="am-btn am-btn-primary" data-role='insertUnorderedList' data-am-popover="{content: '{{ _('Insert Unordered List') }}', trigger: 'hover focus'}"><i class="am-icon-list-ul"></i></button>
			<button class="am-btn am-btn-primary" data-role='insertOrderedList' data-am-popover="{content: '{{ _('Insert Ordered List') }}', trigger: 'hover focus'}"><i class="am-icon-list-ol"></i></button>
		</div>
		<div class='am-btn-group'>
			<div class="am-dropdown" data-am-dropdown>
				<button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle data-role='createLink' data-am-popover="{content: '{{ _('Insert Link') }}', trigger: 'hover focus'}"><i class="am-icon-link"></i></button>
				<div class="am-dropdown-content">
					<label for="wysiwyg-url">{{ _("URL") }}</label>
					<input class="am-form-field" id="wysiwyg-url">
					<label for="wysiwyg-url-text">{{ _("shown text") }}</label>
					<input class="am-form-field" id="wysiwyg-url-text">
					<button class="am-btn am-btn-secondary">{{ _("insert") }}</button>
				</div>
			</div>
			<button class="am-btn am-btn-primary" data-role='unlink' data-am-popover="{content: '{{ _('Remove Link') }}', trigger: 'hover focus'}"><i class="am-icon-chain-broken"></i></button>
			<button class="am-btn am-btn-primary" data-role='insertimage' data-am-popover="{content: '{{ _('Insert Image') }}', trigger: 'hover focus'}"><i class="am-icon-file-image-o"></i></button>
			<button class="am-btn am-btn-primary" data-role='upload' data-am-popover="{content: '{{ _('Upload File') }}', trigger: 'hover focus'}"><i class="am-icon-upload"></i></button>

		</div>
		<div class='am-btn-group'>
			<button class="am-btn am-btn-primary" data-role='h1' data-am-popover="{content: '{{ _('Heading Level 1') }}', trigger: 'hover focus'}"><i class="am-icon-header">1</i></button>
			<button class="am-btn am-btn-primary" data-role='h2' data-am-popover="{content: '{{ _('Heading Level 2') }}', trigger: 'hover focus'}"><i class="am-icon-header">2</i></button>
			<button class="am-btn am-btn-primary" data-role='h3' data-am-popover="{content: '{{ _('Heading Level 3') }}', trigger: 'hover focus'}"><i class="am-icon-header">3</i></button>
			<button class="am-btn am-btn-primary" data-role='h4' data-am-popover="{content: '{{ _('Heading Level 4') }}', trigger: 'hover focus'}"><i class="am-icon-header">4</i></button>
			<button class="am-btn am-btn-primary" data-role='h5' data-am-popover="{content: '{{ _('Heading Level 5') }}', trigger: 'hover focus'}"><i class="am-icon-header">5</i></button>
			<button class="am-btn am-btn-primary" data-role='h6' data-am-popover="{content: '{{ _('Heading Level 6') }}', trigger: 'hover focus'}"><i class="am-icon-header">6</i></button>
			<button class="am-btn am-btn-primary" data-role='p' data-am-popover="{content: '{{ _('Paragraph') }}', trigger: 'hover focus'}"><i class="am-icon-paragraph"></i></button>
		</div>
		<div class='am-btn-group'>
			<button class="am-btn am-btn-primary" data-role='undo' data-am-popover="{content: '{{ _('Undo') }}', trigger: 'hover focus'}"><i class="am-icon-reply"></i></button>
			<button class="am-btn am-btn-primary" data-role='redo' data-am-popover="{content: '{{ _('Redo') }}', trigger: 'hover focus'}"><i class="am-icon-share"></i></button>
		</div>
		{% if switch %}
		<div class="am-btn-group">
			<button class="am-btn am-btn-success" id="swith-to-md" data-am-popover="{content: '{{ _('Switch to MarkDown Editor') }}', trigger: 'hover focus'}"><b>[M&#11015;]</b></button>
		</div>
		{% end %}
	</div>
</div>

<!-- editor	make it focusable  -->
<div class="am-g">
	<div class="am-u-sm-12">
		<div class="am-form-field needsclick" id="wysiwygEditor" tabindex="0" contentEditable="true">{% raw content %}</div>
	</div>
</div>
