<!-- editor toolbar -->
<div class="am-btn-toolbar" id="markdownEditorToolbar">
	<div class='am-btn-group'>
		<button class="am-btn am-btn-primary" data-role='bold' href='#'><i class="am-icon-bold"></i></button>
		<button class="am-btn am-btn-primary" data-role='italic' href='#'><i class="am-icon-italic"></i></button>
	</div>
	<div class='am-btn-group'>
		<button class="am-btn am-btn-primary" data-role='indent' href='#'><i class="am-icon-indent"></i></button>
		<button class="am-btn am-btn-primary" data-role='outdent' href='#'><i class="am-icon-outdent"></i></button>
		<button class="am-btn am-btn-primary" data-role='insertHorizontalRule' href='#'><i class="am-icon-ellipsis-h"></i></button>
		<button class="am-btn am-btn-primary" data-role='insertUnorderedList' href='#'><i class="am-icon-list-ul"></i></button>
		<button class="am-btn am-btn-primary" data-role='insertOrderedList' href='#'><i class="am-icon-list-ol"></i></button>
	</div>
	<div class='am-btn-group'>
		<button class="am-btn am-btn-primary" data-role='createLink' href='#'><i class="am-icon-link"></i></button>
		<button class="am-btn am-btn-primary" data-role='unlink' href='#'><i class="am-icon-chain-broken"></i></button>
		<button class="am-btn am-btn-primary" data-role='insertimage' href='#'><i class="am-icon-file-image-o"></i></button>
		<button class="am-btn am-btn-primary" data-role='upload' href='#'><i class="am-icon-upload"></i></button>

	</div>
	<div class='am-btn-group'>
		<button class="am-btn am-btn-primary" data-role='h1' href='#'><i class="am-icon-header">1</i></button>
		<button class="am-btn am-btn-primary" data-role='h2' href='#'><i class="am-icon-header">2</i></button>
		<button class="am-btn am-btn-primary" data-role='h3' href='#'><i class="am-icon-header">3</i></button>
		<button class="am-btn am-btn-primary" data-role='h4' href='#'><i class="am-icon-header">4</i></button>
		<button class="am-btn am-btn-primary" data-role='h5' href='#'><i class="am-icon-header">5</i></button>
		<button class="am-btn am-btn-primary" data-role='h6' href='#'><i class="am-icon-header">6</i></button>
		<button class="am-btn am-btn-primary" data-role='p' href='#'><i class="am-icon-paragraph"></i></button>
	</div>
	<div class='am-btn-group'>
		<button class="am-btn am-btn-primary" data-role='undo' href='#'><i class="am-icon-reply"></i></button>
		<button class="am-btn am-btn-primary" data-role='redo' href='#'><i class="am-icon-share"></i></button>
	</div>
</div>
<!-- editor	make it focusable  -->
<div class="am-form-field" id="markdownEditor" tabindex="0" contentEditable="true">{% raw content %}+test</div>
