{% extends "base.html" %}

{% block throat %}
<link rel="stylesheet" href="/static/css/project/docpie/home.css" />
{% end %}

{% block stomach %}

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title"><span class="am-monospace">docpie</span> - {{ _('python command line interface parser') }}</h1>

      <p>
        {{ _('An easy and Pythonic way to create your POSIX command line interface') }}
      </p>

      <p>
        <a href="./document/quick-start/" class="am-btn am-btn-sm get-btn">{{ _('Get Start') }} <span class="am-icon-code"></span></a>
        <a href="./try/" class="am-btn am-btn-sm get-btn">{{ _('Online Demo') }} <span class="am-icon-cloud"></span></a>
      </p>

    </div>
  </div>
</div>

<div class="example">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="example-h2">{{ article['title'] }}</h2>
      {% raw article['content'] %}
    </div>
  </div>
</div>

<div class="install">
  <div class="am-g am-container">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 install-icon">
      <span class="am-padding-xl am-round am-icon am-icon-download" data-am-scrollspy="{animation:'slide-top', repeat: true}" style="font-size: 120px; color: white"></span>
      <hr class="am-article-divider am-show-sm-only install-hr">
    </div>
    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
      <h2 class="install-title">{{ _('How to Install') }}</h2>

      <ol>
        <li>{{ _('Install release version:') }}<pre><code class="language-bash">pip install docpie</code></pre></li>
        <li>{{ _('Install nightly version:') }}<pre><code class="language-bash">pip install git+git://github.com/TylerTemp/docpie.git</code></pre></li>
      </ol>
    </div>
  </div>
</div>

<div class="detail">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="detail-h2">{{ _('Keep It Simple') }}</h2>

      <div class="am-g">
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">

          <h3 class="detail-h3">
            <i class="am-icon-eye am-icon-sm"></i>
            {{ _('WYSIWYG') }}
          </h3>

          <p class="detail-p">
            {{ _('Only need to follow some rules, everything will work as your definition in natural language. As soon as you finish your document, the command line interface is done.') }}
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-rocket am-icon-sm"></i>
            {{ _('Usability') }}
          </h3>

          <p class="detail-p">
            {{ _('Default value, counter, exclusive group, required, optional... '
                 'All these advanced functions can be defined intuitively') }}
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-cogs am-icon-sm"></i>
            {{ _('Customizable') }}
          </h3>

          <p class="detail-p">
            {% raw _('It can not only deal with options like <code>--help</code> automaticly, '
                     'but also provide many useful and handy apis that help you build complex command line interface')%}
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-history am-icon-sm" style="-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;"></i>
            {{ _("Don't Repeat Yourself") }}
          </h3>

          <p class="detail-p">
            {{ _('Keep the code side in 2 lines. '
                 'All you need to do in the future update is simply update the help message.') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="license">
  <div class="am-g am-container">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 install-icon">
      <span class="am-padding am-btn-success am-round iconfont icon-opensource" data-am-scrollspy="{animation:'scale-up', repeat: true}" style="font-size:80px"></span>
      <hr class="am-article-divider am-show-sm-only license-hr">
    </div>
    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
      <h2 class="license-title">{{ _('MIT Licensed') }}</h2>
      <p>
        {% raw _('Released under {a_tag} MIT free / open-sourced license {ext_tag}{a_end} , '
                'you can easily contain it no matter in personal project, group project, '
                'open sourced project or close sourced project').format(
                a_tag='<a class="license-a iconfont icon-opensource" href="https://raw.githubusercontent.com/TylerTemp/docpie/master/LICENSE" target="_blank">',
                ext_tag='<span class="am-icon-external-link-square"></span>',
                a_end='</a>'
        ) %}
      </p>

      <p>
        {% raw _('Get {a_tag} source code {ext_tag}{a_end}').format(
                 a_tag='<a class="license-a am-icon-github" href="https://github.com/TylerTemp/docpie" target="_blank">',
                 ext_tag='<span class="am-icon-external-link-square"></span>',
                 a_end='</a>'
        ) %}
      </p>
    </div>
  </div>
</div>

<div class="start">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="start-h2">{{ _("Let's Get Start!") }}</h2>
      <div class="am-g">
        <div class="am-u-md-4 am-u-sm-12 detail-mb" style="text-align: center">
          <h3 class="detail-h3"><a href="./document/quick-start/" class="am-icon-code"> {{ _('Get Start') }} <span class="am-icon-link"></span></a></h3>
        </div>
        <div class="am-u-md-4 am-u-sm-12 detail-mb" style="text-align: center">
          <h3 class="detail-h3"><a href="./try/" class="am-icon-cloud"> {{ _('Online Demo') }} <span class="am-icon-link"></span></a></h3>
        </div>
        <div class="am-u-md-4 am-u-sm-12 detail-mb" style="text-align: center">
          <h3 class="detail-h3"><a href="https://github.com/TylerTemp/docpie/" class="am-icon-code-fork" target="_blank"> {{ _('Join Developing') }} <span class="am-icon-external-link"></span></a></h3>
        </div>

        <hr />

        <p>
          {{ _('If you like this project, you can buy me a beer to help me make it better!') }}
          <a href="https://dn-tyler.qbox.me/alipay.ico" target="_blank"><img src="https://dn-tyler.qbox.me/alipay.ico"/></a>
          |
          <a href="https://flattr.com/submit/auto?user_id=TylerTemp&url=http%3A%2F%2Fdocpie.comes.today" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
        </p>

      </div>


    </div>
  </div>
</div>

{% end %}
