{% extends "base.html" %}

{% block site_description %}{{ _("Try docpie oneline! An easy & pythonic way to create POSIX command line interface") }}{% end %}

{% block title %} Try {% end %}

{% block neck %}
  <style>
    h1 {
      text-align: center;
      font-family: "Ubuntu Mono", monospace;
      font-weight: bold !important;
      font-size: 9rem !important;
    }
    i {
      padding: 8px 0px 0px 0px;
    }
    label.am-form-label {
      padding: 5px 0px 0px 0px !important;
    }
  </style>
{% end %}

{% block stomach %}

<div class="am-container">
  <div class="am-cf">
    <div class="am-fr">
      Language/语言:
        <a href="./?lang=zh" data-lang="zh" style="color: #000">
          <span class="{{ 'am-icon-check-square-o' if locale.code[:2] == 'zh' else 'am-icon-square-o'}}">
            Chinese/中文
          </span>
        </a>
        |
        <a href="./?lang=en" data-lang="en" style="color: #000">
          <span class="{{ 'am-icon-check-square-o' if locale.code[:2] != 'zh' else 'am-icon-square-o'}}">
            English/英文
          </span>
        </a>
    </div>
  </div>
  <h1 style="margin: 0px 0px 16px 0px;"><span class="am-text-success am-serif">Try</span> <span style="font-family: 'Ubuntu Mono', monospace;">[docpie]</span></h1>

  <p><a href="../"><span class="am-icon-angle-double-left"> {{ _('back to introduction') }}</span></a></p>

  <form class="am-form am-form-horizontal">
    <fieldset>
      <legend class="am-monospace">docpie ({{_('Version')}} {{ version }} / {{ time }})</legend>

      <!-- pie.py -->

      <div class="am-form-group" style="font-weight: blod;">
        <!-- <label for="doc">{{ _('Input your doc string') }}</label> -->
        <div style="background-color: #3E4349; color:#fff; font-family: 'Ubuntu Mono', monospace; padding: 24px">
          <span style="color: #999999;"># pie.py</span><br/>
          <span style="color: #66FF66;">"""</span>
            <textarea style="background-color: #3E4349; color:#66FF66; font-weight: bold; font-family: 'Ubuntu Mono', monospace;" name="doc" placeholder="{{ _('Input your doc string') }}" required="required">{{ result.get('doc', '') }}</textarea>
          <span style="color: #66FF66;">"""</span><br><br>
          <span style="color: #CC00FF;">from</span> docpie <span style="color: #CC00FF;">import</span> docpie</span><br/>
          <span style="color: #CC00FF;">print</span>(docpie(<span style="color: #E06697;">__doc__</span>))
        </div>
      </div>

      <!-- Terminal -->
      <div style="background-color: #610B4B; color: #fff; font-weight: bold; font-family: 'Ubuntu Mono', monospace; padding: 5px">
        <div class="am-form-group">
          <div style="width: 100%">
            <label for="argv" style="width: 150px; float: left; padding: 4px 0px 0px 0px">
              <span style="color: #F3F781;">$</span> python pie.py
            </label>
            <div style="overflow: hidden;">
              <input type="text" id="argv" name="argv" value="{{ result.get('argv', '') }}" placeholder="{{ _('(Input Your command)') }}"
                     style="background-color: #610B4B; color: #fff">
            </div>
          </div>
        </div>

        <div class="am-cf">
          <button type="submit"
                  class="am-btn am-btn-success am-fr"
                  data-am-loading="{spinner: 'cog', loadingText: ''}">Enter &#9166;</button>
          <pre style="background-color: #610B4B; color: #fff; font-weight: bold; font-family: 'Ubuntu Mono', monospace; padding: 0px; margin: 10px; border:0"><code>{{ result['output'] or '' }}</code></pre>
          <span data-role="end_dollar" style="color: #F3F781; {{ '' if result['output'] else 'display:none;' }}">$</span>

        </div>

      </div>

      <p>{% raw _('Find a bug? {mark}Tell me here!{mark_end}').format(mark='<a href="https://github.com/TylerTemp/docpie/issues" target="_blank"><span class="am-icon-bug">', mark_end='</span></a>') %}</p>

      <hr class="am-divider am-divider-dashed" />

      <p>{{ _('Config') }}: {% raw _('(See {link}here{end} for detail)').format(
                                      link='<a href="https://github.com/TylerTemp/docpie/#basic-usage">',
                                      end='</a>') %}

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">help:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="help" value="true" {{'checked' if result.get('help', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="help" value="false" {{'checked' if not result.get('help', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label for="version" class="am-u-sm-3 am-u-md-2 am-form-label">version:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <input name="version" class="am-form-field" id="version" value="{{ result.get('version', '') or '' }}" placeholder="None">
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">stdopt:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="stdopt" value="true" {{'checked' if result.get('stdopt', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="stdopt" value="false" {{'checked' if not result.get('stdopt', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">attachopt:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="attachopt" value="true" {{'checked' if result.get('attachopt', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="attachopt" value="false" {{'checked' if not result.get('attachopt', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">attachvalue:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="attachvalue" value="true" {{'checked' if result.get('attachvalue', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="attachvalue" value="false" {{'checked' if not result.get('attachvalue', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">auto2dashes:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="auto2dashes" value="true" {{'checked' if result.get('auto2dashes', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="auto2dashes" value="false" {{'checked' if not result.get('auto2dashes', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label for="name" class="am-u-sm-3 am-u-md-2 am-form-label">name:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <input name="name" class="am-form-field" id="name" value="{{ result.get('name', '') or '' }}" placeholder="None">
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">case_sensitive:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="case_sensitive" value="true" {{'checked' if result.get('case_sensitive', False) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="case_sensitive" value="false" {{'checked' if not result.get('case_sensitive', False) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label for="extra" class="am-u-sm-3 am-u-md-2 am-form-label"><del>extra:</del></label>
        <div class="am-u-sm-9 am-u-md-10">
          <input class="am-form-field" id="extra" value="" placeholder="{{ _('Not support here') }}" disabled="disabled">
        </div>
      </div>

    </fieldset>
  </form>

</div>
{% end %}

{% block butt %}
<script>
  $(function(evt)
  {
    function h(e)
    {
      $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight - 10);
    }

    $('textarea').each(function()
    {
      h(this);
    }).on('input', function()
    {
      h(this);
    });

    $('[data-lang]').click(function(evt)
    {
      evt.preventDefault();
      var $self = $(this)
      var lang = $self.data('lang');
      var $other = (lang == 'en'? $('[data-lang="zh"]'): $('[data-lang="en"]'));
      $self.find('span')
        .removeClass('am-icon-check-square-o am-icon-square-o')
        .addClass('am-icon-check-square-o');
      $other.find('span')
        .removeClass('am-icon-check-square-o am-icon-square-o')
        .addClass('am-icon-square-o');
      if (locale == lang)
        return;
      console.log('change lang from ' + locale + ' to ' + lang);
      change_lang(lang);
      window.location.href = location.pathname;
    });

    $('form').submit(function(evt)
    {
      evt.preventDefault();
      var $form = $(this);
      var $button = $form.find('button[type="submit"]');
      var $fieldset = $form.find('fieldset');
      var $code = $form.find('pre code');
      var $end_dollar = $form.find('[data-role="end_dollar"]');

      var values = {};
      $.each($form.serializeArray(), function(i, field)
      {
        values[field.name] = field.value;
      });

      $code.html(
        '<center><i class="am-icon-spinner am-icon-pulse am-text-xxxl"></i></center>'
      );

      $button.button('loading');
      $fieldset.prop('disabled', true);
      $end_dollar.hide();

      $.ajax(
        location.pathname,
        settings={
          data: values,
          type: 'get'
        }
      ).done(function(data, textStatus, jqXHR)
      {
        var obj = $.parseJSON(data);
        $code.text(obj.output);
      }).fail(function(jqXHR, textStatus, errorThrown)
      {
        var msg = _("Sorry, a server error occured, please refresh and retry") +
                  " ({0}: {1})".format(jqXHR.status, errorThrown);
        $code.text(msg);
      }).always(function(data_jqXHR, textStatus, jqXHR_errorThrown)
      {
        $button.button('reset');
        $fieldset.prop('disabled', false);
        $end_dollar.show();
      })
    });
  });
</script>
{% end %}
