{% extends "base.html" %}
{% block active %}{% set active = "demo" %}{% end %}

{% block site_description %}{{ _("Try docpie oneline! An easy & pythonic way to create POSIX command line interface") }}{% end %}

{% block sub_title %} Try {% end %}

{% block throat %}
<link rel="stylesheet" href="/static/css/project/docpie/try.css" />
{% end %}

{% block stomach %}

<div class="am-container">
  <h1 class="try-title am-monospace";"><span class="am-text-success am-serif">Try</span> <span style="font-family: 'Ubuntu Mono', monospace;">[docpie]</span></h1>

  <form class="am-form am-form-horizontal">
    <fieldset>
      <legend class="am-monospace">docpie ({{ _('Version') }} {{ version }} / {{ time }})</legend>

      <!-- Editor -->
      <div class="am-form-group" style="font-weight: blod;">
        <div class="editor am-monospace">
          <span class="comment"># <span data-role="file-name">{{ file_name }}</span></span><br/>
          <span class="string">"""</span>
            <textarea class="doc am-monospace" name="doc" placeholder="{{ _('Input your doc string') }}" required="required">{{ doc or '' }}</textarea>
          <span class="string">"""</span><br>
          <span class="keyword">from</span> docpie <span class="keyword">import</span> docpie<br/><br />
          args = docpie(<span class="magic">__doc__</span><span id="config">{% for arg_name, arg_value in modified.items() %},
            {{ arg_name }}={{ arg_value }}{% end %}</span>)<br/>
          <span class="keyword">print</span>(args)
        </div>
      </div>

      <!-- Terminal -->
      <div class="terminal am-monospace">
        <div class="am-form-group">
          <div style="width: 100%">
            <label for="argv" style="width: 150px; float: left; padding: 4px 0px 0px 0px">
              <span style="color: #F3F781;">$</span> python <span data-role="file-name">{{ file_name }}</span>
            </label>
            <div style="overflow: hidden;">
              <input class="terminal-input" type="text" id="argv" name="argv"
                     value="{{ argv or '' }}" placeholder="{{ _('(Input Your command)') }}">
            </div>
          </div>
        </div>

        <!-- Enter button -->
        <div class="am-cf">
          <button type="submit"
                  class="am-btn am-btn-success am-fr"
                  data-am-loading="{spinner: 'cog', loadingText: ''}">Enter &#9166;</button>
          <pre class="nohighlight" style="background-color: #610B4B; color: #fff; font-weight: bold; padding: 0; margin: 10px; border:0"><code class="am-monospace">{{ output or '' }}</code></pre>
          <span data-role="end_dollar" style="color: #F3F781; {{ '' if output else 'display:none;' }}">$</span>

        </div>

      </div>

      <p>{% raw _('Find a bug? {mark}Tell me here!{mark_end}').format(mark='<a href="https://github.com/TylerTemp/docpie/issues" target="_blank" id="bug-report-guide"><span class="am-icon-bug">', mark_end='</span></a>') %}</p>

      <div id="bug-report-container" style="display: none;">
        <p>1. Open
          <a href="https://github.com/TylerTemp/docpie/issues/new" target="_blank">
            this page
            <span class="am-icon-external-link-square"></span>
          </a>.</p>
        <p>2. Copy the following content to the new page</p>
        <hr />
        <textarea class="am-form-filed" id="bug-report-info"></textarea>
        <div class="am-g am-cf am-padding-top">
          <button class="am-btn am-fr" id="bug-report-cancel">{{ _('Cancel') }}</button>
        </div>
      </div>

      <hr class="am-divider am-divider-dashed" />

      <p class="am-icon-wrench"> {{ _('Config') }}:</p>

      <input name="exec" value="on" style="display: none"/>

      <!-- help -->
      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">help:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="help" value="on" {{'checked' if config.get('help', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="help" value="" {{'checked' if not config.get('help', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <!-- version -->
      <div class="am-form-group">
        <label for="version" class="am-u-sm-3 am-u-md-2 am-form-label">version:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <input name="version" class="am-form-field" id="version" value="{{ config.get('version', '') or '' }}" placeholder="None">
        </div>
      </div>

      <!-- stdopt -->
      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">stdopt:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="stdopt" value="on" {{'checked' if config.get('stdopt', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline am-danger">
            <input type="radio" name="stdopt" value="" {{'checked' if not config.get('stdopt', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">attachopt:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="attachopt" value="on" {{'checked' if config.get('attachopt', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline am-danger">
            <input type="radio" name="attachopt" value="" {{'checked' if not config.get('attachopt', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">attachvalue:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="attachvalue" value="on" {{'checked' if config.get('attachvalue', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline am-danger">
            <input type="radio" name="attachvalue" value="" {{'checked' if not config.get('attachvalue', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">auto2dashes:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="auto2dashes" value="on" {{'checked' if config.get('auto2dashes', True) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="auto2dashes" value="" {{'checked' if not config.get('auto2dashes', True) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label for="name" class="am-u-sm-3 am-u-md-2 am-form-label">name:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <input name="name" class="am-form-field" id="name" value="{{ config.get('name', '') or '' }}" placeholder="None">
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">case_sensitive:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="case_sensitive" value="on" {{'checked' if config.get('case_sensitive', False) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="case_sensitive" value="" {{'checked' if not config.get('case_sensitive', False) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">optionsfirst:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="optionsfirst" value="on" {{'checked' if config.get('optionsfirst', False) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="optionsfirst" value="" {{'checked' if not config.get('optionsfirst', False) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label class="am-u-sm-3 am-u-md-2 am-form-label">appearedonly:</label>
        <div class="am-u-sm-9 am-u-md-10">
          <label class="am-radio-inline">
            <input type="radio" name="appearedonly" value="on" {{'checked' if config.get('appearedonly', False) else ''}} data-am-ucheck> True
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="appearedonly" value="" {{'checked' if not config.get('appearedonly', False) else ''}} data-am-ucheck> False
          </label>
        </div>
      </div>

      <div class="am-form-group">
        <label for="extra" class="am-u-sm-3 am-u-md-2 am-form-label"><del>extra:</del></label>
        <div class="am-u-sm-9 am-u-md-10">
          <input class="am-form-field" id="extra" value="" placeholder="{{ _('Not support here') }}" disabled="disabled">
        </div>
      </div>

    </fieldset>
  </form>
  <hr />
  <p>
    {{ _('If you like this project, you can buy me a beer to help me make it better!') }}
    <a href="https://dn-tyler.qbox.me/myalipay.png" target="_blank"><img src="https://dn-tyler.qbox.me/alipay.ico"/></a>
    |
    <a href="https://flattr.com/submit/auto?user_id=TylerTemp&url=http%3A%2F%2Fdocpie.comes.today" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
  </p>
</div>
{% end %}

{% block butt %}
<script>
  var config_status = {% raw jsonlize(modified) %};
  var no_render_code_block = true;
  var version_and_time = "{{ version }} / {{ time }}";
</script>
<script src="/static/js/project/docpie/URI.js"></script>
<script src="/static/js/project/docpie/try.js"></script>
{% end %}
