{% extends "base.html" %}
{% block main_title %}{{ _("Login") }} | {% end %}

{% block nav_active %}
  {% set nav_active = 'login' %}
{% end %}

{% block content %}
<div class="am-g am-g-fixed">
  <div class="am-u-sm-12 am-u-sm-centered">

    <form method="post" class="am-form" autocomplete="off">
      <fieldset>
        <legend>{{ _('Login') }}</legend>
        {% raw xsrf_form_html() %}

        <div class="am-form-group">
          <label for="user-or-email">{{ _('User Name or Email') }}:</label>
          <input class="am-form-field" type="text" name="user-or-email" id="user-or-email" value="{{ user or '' }}" placeholder="&#xf007; / &#xf0e0;" required="required" />
        </div>
        
        <!--<input type="text" style="display: none;"/>-->

        <div class="am-form-group">
          <label for="pwd">{{ _('Password') }}:</label>
          <div class="am-input-group">
            <input class="am-form-field" type="password" name="pwd" id="pwd" value="" placeholder="&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;&#xf069;" required="required" />
            <a class="am-input-group-label am-icon-question-circle am-text-warning" href="/forget/" title="{{ _('Forget My Password') }}"></a>
          </div>
        </div>

        <!--<input type="text" style="display: none;"/>-->

        <div class="am-form-group">
          <label for="remember" class="am-checkbox-inline">
            <input name="remember" id="remember" type="checkbox" data-am-ucheck />
            {{ _("Remember Me Forever") }}
          </label>
        </div>

        <div class="am-form-group am-cf">
          <button type="submit" class="am-btn am-btn-primary am-fr" data-am-loading="{spinner: 'circle-o-notch', loadingText: ''}">
            <span class="am-icon-sign-in"> {{ _('Login') }}</span>
          </button>
          <a href="/signin/{{ '?' + query if query else '' }}" class="am-btn am-btn-default am-fr">
            <span class="am-icon-edit"> {{ _('Sign in') }}</span>
          </a>
        </div>

      </fieldset>
    </form>

  </div>
</div>
{% end %}

{% block butt %}
<script src="/static/js/tomorrow/auth/login.js"></script>
{% end %}