{% extends "base.html" %}

{% block main_title %}
  {{ article.title }} | {{ _('Jolla Blog') }} |
{% end %}

{% block neck %}
<link rel="stylesheet" href="{{ static_path('css/duoshuo.css') }}">
<link rel="stylesheet" href="{{ static_path('css/jolla/article.css') }}">
{% end %}

{% block stomach %}
<div class="am-u-sm-centered am-g-fixed">
  {% if article.status != article.ACCEPTED %}
    {% if article.status == article.AWAIT %}
    <div class="am-alert" data-am-alert>
      <button type="button" class="am-close">&times;</button>
      <p>{{ _("Thanks for translation, we are checking if it's appropriate") }}</p>
    </div>
    {% elif article.status == article.EJECTED %}
    <div class="am-alert am-alert-warning" data-am-alert>
      <button type="button" class="am-close">&times;</button>
      <p>{{ _("This article is not taken as the final translation. Sorry.") }}</p>
    </div>
    {% end %}
  {% end %}

  {% if article.banner %}
    <img src="{{ article.banner }}" id="title-img">
  {% end %}
  <div class="am-g am-margin-bottom-xl" id="white-bg-box">
    <div class="am-u-sm-12 am-u-sm-centered" id="page-box">
      <article class="am-article">
        <div class="am-article-hd">
          <h1 class="am-article-title">{{ article.title }}</h1>
          <div class="am-article-meta">
            {% raw make_source(source['link'] if source else None) %}

            {% if article.tag %}
              |
              {% module Tag(article.tag) %}
            {% end %}
            <br />
            {% if author.home %}
            <a href="{{ author.home }}" target="_blank" class="am-icon-home"> {{ author }}</a>
            {% else %}
            <span class="am-icon-user"> {{ author }}</span>
            {% end %}

            {% if author.email %}
            <a href="mailto:{{ author.email }}" class="am-icon-envelop"> </a>
            {% end %}

            {% if article.lang_fit() and article.other_lang() %}
            <div class="am-fr">
            {% raw _('这篇文章有{tag} 中文版{tag_end}').format(
              tag='<a href="./?lang=%s" class="am-icon-link" data-lang="%s">' % (article.other_lang(), article.other_lang()),
              tag_end='</a>'
            ) %}
            </div>
            {% end %}

          </div>
        </div>

        <hr class="am-article-divider">
        <div class="am-article-bd">
          {% if article.description %}
            <div class="am-article-lead">{% raw md2html(article.description) %}</div>
          {% end %}
          {% raw md2html(article.content) %}
          <!-- Jolla blog author translation -->
          {% if source %}
            <hr class="am-article-divider">
            <div class="am-g am-u-sm-centered" id="original-author">
            {% if source['author'].photo %}
            <div class="am-u-sm-12 am-u-md-4">
              <img class="am-circle am-thumbnail am-center" src="{{ source['author'].photo }}">
            </div>
            <div class="am-u-sm-12 am-u-md-8">
              <h6>{{ source['author'] }}</h6>
              {% if source['author'].intro %}
                {% raw md2html(source['author'].intro)%}
              {% end %}
            </div>
            {% elif source['author'].intro %}
            <div class="am-u-sm-12">
              <h6>{{ original['author'] }}</h6>
              {% raw md2html(source['author'].intro)%}
            </div>
            {% end %}
          </div>
          {% end %}

        </div>

        {% if source %}
        <footer>
          <p>原文由 {{ source['author'] }} 发布于
            <a href="{{ source['link'] }}">{{ source['title'] or source['link'] }}</a>
          </p>
        </footer>
        {% end %}
        <!-- Translator -->
        <hr class="am-article-divider">
        {% if source %}
          <p>{{ _('Translated by') }}</p>
        {% end %}
      </article>
      <div class="am-padding-top">

        <div class="am-g am-u-sm-centered">
          
          {% if author.photo %}
          <div class="am-u-sm-3">
              {% if author.home %}
              <a href="{{ author.home }}" target="_blank">
              {% end %}
              <img class="am-circle am-thumbnail am-center" src="{{ author.photo }}">
              {% if author.home %}
              </a>
              {% end %}
          </div>
          <div class="am-u-sm-9">
          {% else %}
          <div class="am-u-sm-12">
          {% end %}

            <div class="am-margin-horizontal">
              {% if author.home %}
              <a href="{{ author.home }}" target="_blank"><h6 class="am-icon-home"> {{ author }}</h6></a>
              {% else %}
              <h6>{{ author }}</h6>
              {% end %}
              {% raw md2html(author.intro) if author.intro else '' %}
              {% raw md2html(author.donate) if author.donate else '' %}
            </div>
          </div>
        </div>


      </div>
      <hr class="am-divider am-divider-dotted" />
      <div data-am-widget="duoshuo" class="am-duoshuo am-duoshuo-default" data-ds-short-name="tmr" id="comment">
        <div class="ds-thread"
             data-thread-key="{{ article._id }}"
             data-title="{{ article.title }}"
             {% if article.banner %}data-image="{{ article.banner }}"{% end %}
             data-form-position="top"></div>
      </div>

    </div>
  </div>
</div>

{% end %}
{% block leg %}
<script type="text/javascript">
var duoshuoQuery = {short_name:"tmr"};
  $(function(){
  (function()
  {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'https://dn-tomorrow.qbox.me/duoshuo.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]
    ).appendChild(ds);
  })();
});
</script>
{% end %}