{% extends "../base.html" %}

{% block main_title %}Jolla Comes Today{% end %}

{% block webapp %%}
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ static_path('i/app-icon72x72@2x.png') }}">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ _('Jolla Blog') }}"/>
  <link rel="apple-touch-icon-precomposed" href="{{ static_path('i/app-icon72x72@2x.png') }}">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ static_path('i/app-icon72x72@2x.png') }}">
  <meta name="msapplication-TileColor" content="#0e90d2">
{% end %}

{% block site_description %}{{ _("Unofficial Jolla Chinese blog. Chinese translation of Jolla's posts and other ideas about Jolla") }}{% end %}
{% block site_kwd %}Jolla,Jolla博客,Jolla中文博客,Jolla翻译,Jolla非官方中文博客{% end %}

{% block footer %}
<div>
  <a href="//jolla.comes.today">jolla.comes.today</a> <span class="am-footer-divider">|</span>
    <small>&#169; 2015 <a href="mailto:tylertempdev@gmail.com">TylerTemp</a></small>

</div>

<div class="am-footer-miscs">
  {% if locale.code.startswith('zh') %}
  <p>
    <a href="http://qiniu.com" target="_blank"><img src="https://dn-tomorrow.qbox.me/qiniu-55x41.png" style="width:16px; height:auto;"> 七牛</a> &amp;
    <a href="http://duoshuo.com" target="_blank"><img src="//static.duoshuo.com/favicon.ico" style="width:16px; height:16px;"> 多说</a>
    强力驱动
  </p>
  {% else %}
  <p>Powered by
    <a href="http://qiniu.com" target="_blank"><img src="https://dn-tomorrow.qbox.me/qiniu-55x41.png" style="width:30px; height:auto;"> QiNiu</a> &amp;
    <a href="http://duoshuo.com" target="_blank"><img src="//static.duoshuo.com/favicon.ico" style="width:16px; height:16px;"> DuoSuo</a>
  </p>
  {% end %}
  <span class="am-footer-divider">|</span>
  <p><a href="https://github.com/TylerTemp/tomorrow" target="_blank">Fork me on <span class="am-icon-github am-text-warning"> GitHub</span></a></p>
</div>
{% end %}
