{% extends "../base.html" %}

{% block main_title %}Jolla Comes Today{% end %}

{% block webapp %%}
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ static_path('i/app-icon72x72@2x.png') }}">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ _('Jolla Blog') }}"/>
  <link rel="apple-touch-icon-precomposed" href="{{ static_path('i/app-icon72x72@2x.png') }}">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ static_path('i/app-icon72x72@2x.png') }}">
  <meta name="msapplication-TileColor" content="#0e90d2">
{% end %}

{% block site_description %}{{ _("Unofficial Jolla Chinese blog. Chinese translation of Jolla's posts and other ideas about Jolla") }}{% end %}
{% block site_kwd %}Jolla,Jolla博客,Jolla中文博客,Jolla翻译,Jolla非官方中文博客{% end %}

{% block footer %}
<footer class="am-footer am-footer-default">
  <div>
    <a href="//jolla.comes.today">jolla.comes.today</a> <span class="am-footer-divider">|</span>
      <small>&#169; 2015 <a href="mailto:tylertempdev@gmail.com">TylerTemp</a></small>
  </div>

  <div class="am-footer-miscs">
    <p>
    {% if locale.code.startswith('zh') %}
      <a href="http://qiniu.com" target="_blank"><img src="https://dn-tomorrow.qbox.me/qiniu-55x41.png" style="width:16px; height:auto;"> 七牛</a> &amp;
      <a href="http://duoshuo.com" target="_blank"><img src="//static.duoshuo.com/favicon.ico" style="width:16px; height:16px;"> 多说</a>
      强力驱动
    {% else %}
    Powered by
      <a href="http://qiniu.com" target="_blank"><img src="https://dn-tomorrow.qbox.me/qiniu-55x41.png" style="width:30px; height:auto;"> QiNiu</a> &amp;
      <a href="http://duoshuo.com" target="_blank"><img src="//static.duoshuo.com/favicon.ico" style="width:16px; height:16px;"> DuoSuo</a>

    {% end %}
      <span class="am-footer-divider">|</span>
      <a href="https://github.com/TylerTemp/tomorrow" target="_blank"><span class="am-icon-github"> {{ _('Source Code') }}</span></a>
      <span class="am-footer-divider">|</span>
      <a href="http://weibo.com/tylertemp" target="_blank"><span class="am-icon-weibo"> {{ _('Weibo') }}</span></a>

      <!-- https://dn-tomorrow.qbox.me/wechat-qrcode.jpg -->
      <a class="am-dropdown-toggle" id="wechat-toggle" data-load="false" href="https://dn-tomorrow.qbox.me/wechat-qrcode.jpg" target="_blank"><span class="am-icon-wechat"> {{ _('WeChat') }}</span></a>

      <a href="/feed/" target="_blank"><span class="am-icon-rss"> {{ _('RSS Feed') }}</span></a>
    </p>
  </div>
</footer>
{% end %}

{% block butt %}
<script>
$(function()
{
  var $wechat = $('footer #wechat-toggle');
  var $area = $('footer .am-footer-miscs');
  $wechat.click(function(evt)
  {
    evt.preventDefault();
    var loaded = ($wechat.data('load') == 'true');
    if (loaded)
    {
      $wechat.data('load', 'false');
      var $div = $area.find('#wechar-qr-img');
      $div.hide(400, function(evt)
      {
        $div.remove();
      });
    }
    else
    {
      $wechat.data('load', 'true');
      $area.append('<div id="wechar-qr-img"><center><img class="am-animation-scale-down am-img-responsive" src="https://dn-tomorrow.qbox.me/wechat-qrcode.jpg" style="width: 400px; height: auto;"/></center></div>');
    }
  });
});
</script>
{% block leg %}{% end %}

{% end %}
