{% extends "base.html" %}

{% block main_title %}
  {{ '%s: %s' % (_("Edit"), article.title) if article.title else _('New') }} |
{% end %}

{% block active %}
  {% set active = 'edit' %}
{% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/editor.css">
<link rel="stylesheet" href="/static/css/amazeui.tagsinput.css">
<link rel="stylesheet" href="/static/css/jolla/tr.css">
{% end %}
{% block stomach %}

<div class="am-margin">
  <div class="header">
    <div class="am-g">
      <h1>{{ ('%s: %s' % (_("Edit"), article.title)) if article.title else _('New') }}</h1>
    </div>
    <hr />
  </div>

  <form method="post">
    <fieldset>
      {% raw xsrf_form_html() %}
      <!-- title -->
      <div class="am-form-group">
        <label for="title">{{ _("Title") }}</label>
        <input type="text" name="title" class="am-form-field" id="title" value="{{ article.title or '' }}" required="required">
      </div>
      <!-- description -->
      <div class="am-form-group">
        <label for="description">{{ _("Description") }}</label>
        <textarea class="am-form-field" name="description" id="description" placeholder="{{ _('Enter the description of this post') }}">{{ article.description or '' }}</textarea>
      </div>

      <div class="am-form-group">
        <label for="slug">{{ 'Slug' }}</label>
        <input type="text" class="am-form-field" id="slug" name="slug" value="{{ article.slug or '' }}" />
      </div>

      <!-- More -->
      <a data-am-collapse href="#more" class="white">{{ _('More') }} <span class="am-icon-angle-double-right"></span></a>
      <div id="more" class="am-collapse">
        <div class="am-form-group">
          <label for="cover">{{ _('Cover') }}</label>
          <input type="text" class="am-form-field" id="cover" name="cover" value="{{ article.cover or '' }}" />
        </div>
        <div class="am-form-group">
          <label for="banner">{{ _('Banner') }}</label>
          <input type="text" class="am-form-field" id="banner" name="banner" value="{{ article.banner or '' }}" />
        </div>
        <div class="am-form-group">
          <label for="tag">{{ _('Tag') }}</label>
          <input type="text" class="am-form-field" id="tag" name="tag" value="{{ ','.join(article.tag) or '' }}" data-am-tagsinput/>
        </div>
        <div class="am-form-group">
          <label>{{ _('Language') }}</label>
          <label class="am-radio-inline">
            <input type="radio" name="language" value="zh" {{ 'checked' if article.lang == 'zh' else '' }}> {{ _('Chinese') }}
          </label>
          <label class="am-radio-inline">
            <input type="radio" name="language" value="en" {{ 'checked' if article.lang != 'zh' else '' }}> {{ _('English') }}
          </label>
          <sub>| <a class="white" href="./?source={{ 'zh' if article.lang == 'en' else 'en' }}">{{ _('Load %s content') % _('Chinese' if article.lang == 'en' else 'English') }}</a></sub>
        </div>
      </div>

      <hr />

      <div class="am-form-group">
        <div class="am-btn-toolbar" id="mdEditorToolbar">
          {% module MdBar() %}
          <div class="am-btn-group">
            <button type="button" class="am-btn am-btn-danger am-radius" data-role="preview" data-am-modal="{target: '#preview-popup'}" data-am-popover="{content: '{{ _('Preview') }}', trigger: 'hover focus'}"><span class="am-icon-eye"></span></button>
          </div>
        </div>
        <!-- translated area -->
        <textarea class="am-form-field" name="content" id="mdEditor" tabindex="0" placeholder="&#xe601; {{ _('Markdown syntax supported') }}" required="required">{{ article.content or '' }}</textarea>
      </div>

      <div class="am-form-group">
        <button type="submit"
                class="am-btn am-btn-success am-fr"
                data-am-loading="{spinner: 'ge', loadingText: ''}">
          <span class="am-icon-arrow-up"> {{ _("Submit") }}</span>
        </button>
      </div>
    </fieldset>
  </form>
</div>

<div class="am-popup" id="preview-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h6 class="am-popup-title">Preview</h6>
      <span data-am-modal-close class="am-close">&times;</span>
    </div>
    <div class="am-popup-bd">
      <div class="am-g" id="preview">
      </div>
      <hr />
      <article class="am-article">
        <div class="am-article-hd">
        </div>
        <div class="am-article-bd">
        </div>
      </article>
    </div>
  </div>
</div>
{% end %}

{% block leg %}
<script src="https://dn-tomorrow.qbox.me/jquery-textrange.min.js"></script>
<script src="https://dn-tomorrow.qbox.me/showdown.min.js"></script>
<script src="/static/js/amazeui.tagsinput.min.js"></script>
<script src="/static/js/md/editor-md.js"></script>
<script src="/static/js/jolla/edit.js"></script>
{% end %}
