{% extends "base.html" %}

{% block main_title %}
  {{ _("Unofficical Jolla Chinese Blog") }} |
{% end %}

{% block neck %}
<link rel="stylesheet" href="{{ static_path('css/jolla/blog.css') }}">
{% end %}

{% block stomach %}
<div class="am-g-fixed am-g-fixed am-g-collapse am-u-sm-centered">
  <div class="am-u-sm-12 am-margin-left" style="color: #fff">
    <a class="am-text-sm am-btn-link" style="color: #fff" href="//{{ MAIN_HOST }}/">&laquo; tomorrow</a>
  </div>
</div>

<header>
  <div class="am-margin am-text-center">
    <a href="/"><img src="https://dn-jolla.qbox.me/blog_header.png" alt="{{ _("Jolla Unofficial Chinese Blog") }}"></a>
  </div>
</header>

<div class="am-u-sm-centered am-g-fixed am-g-collapse" id="blog">
  <div class="am-g am-margin-horizontal-xs" id="bread-crumbs">
    <div class="am-cf">

      <div class="am-dropdown am-fr" data-am-dropdown  data-role="switch-lang-dropper">
        <button class="am-btn am-btn-link am-dropdown-toggle am-btn-sm" style="color: #fff"><span class="am-icon-globe"> 语言/Language</span> <span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li class="{{ 'am-active' if locale.code[:2] == 'zh' else '' }}">
            <a href="./?lang=zh" data-role="switch-lang" data-lang="zh" style="color: #000"><span class="am-badge am-badge-success">zh-CN</span> 中文/Chinese</a>
          </li>
          <li class="{{ 'am-active' if locale.code[:2] == 'en' else '' }}">
            <a href="./?lang=en" data-role="switch-lang" data-lang="en" style="color: #000"><span class="am-badge am-badge-success">en-US</span> 英文/English</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- first article -->
  {% set first = next(articles) %}
  <!-- horizontal blog box -->
  <div class="am-g" data-am-scrollspy="{animation:'scale-down', repeat: false}">
    <div class="am-margin-horizontal-xs am-margin-vertical-sm">
      <div class="white am-u-sm-12 am-u-md-{{ 6 if first['img'] else 12 }}">
        <article class="am-article am-margin-horizontal-lg am-margin-top-lg">
          <div class="am-article-hd">
            <a href="/{{ first['slug'] }}/"><h2 class="am-article-title am-text-xl">{{ first['title'] }}</h2></a>
          </div>
          <div>
            {% raw make_source(first['source']) %}
            {% raw ('| ' + ' '.join(make_tag(first['tag']))) if first['tag'] else '' %}
          </div>
          <div class="am-article-bd">
            {% raw first['descripition'] or (first['preview'] + '...') %}
          </div>
        </article>
        <div class="am-cf am-margin-horizontal-lg am-margin-bottom-sm">
          <a class="am-btn am-btn-success am-fr" href="{{ first['slug'] }}">{{ _("Continue reading") }}</a>
        </div>
      </div>
      {% if first['img'] %}
      <div class="am-u-sm-12 am-u-md-6">
        <a href="/{{ first['slug'] }}/"><img class="cover-img" src="{{ first['img'] }}"></a>
      </div>
      {% end %}
    </div>
  </div>
  <!-- first article | end -->

  <ul class="am-avg-sm-1 am-avg-md-2">
  {% for idx, each in enumerate(articles) %}

    <li data-am-scrollspy="{animation:'{{ ['slide-left', 'slide-right'][idx % 2] }}', repeat: false}">
      <div class="am-margin-horizontal-xs white am-margin-vertical-sm">
        {% if each['img'] %}
        <a href="/{{ each['slug'] }}/"><img class="cover-img" src="{{ each['img'] }}"></a>
        {% end %}
        <div class="title-box">
          <article class="am-article  am-margin-horizontal-lg">
            <div class="am-article-hd">
              <a href="/{{ each['slug'] }}/"><h2 class="am-article-title am-margin-top">{{ each['title'] }}</h2></a>
            </div>
            <div>
              {% raw make_source(each['source']) %}
              {% raw ('| ' + ' '.join(make_tag(each['tag']))) if each['tag'] else '' %}
            </div>
            <div class="am-article-bd">
              {% raw each['descripition'] or (each['preview'] + '...') %}
            </div>
          </article>
          <div class="am-cf">
            <a class="am-btn am-btn-success am-fr am-margin-bottom am-margin-right-lg" href="{{ each['slug'] }}">{{ _("Continue reading") }}</a>
          </div>
        </div>
      </div>
    </li>
  {% end %}

</ul>


<div class="am-cf am-margin-horizontal-xs">
  {% if this_page != 1 %}
  <a href="/page/{{ this_page - 1}}/" class="am-fl am-btn-link" style="color: #fff">&laquo; {{ _('Prev Page') }}</a>
  {% end %}
  {% if has_next_page %}
  <a href="/page/{{ this_page + 1 }}/" class="am-fr am-btn-link" style="color: #fff">{{ _('Next Page') }} &raquo;</a>
  {% end %}
</div>

<!-- Page -->
<!-- <ul class="am-margin-horizontal-xs">
  <li class="am-pagination-prev"><a href="">&laquo; {{ _('Prev Page') }}</a></li>
  <li class="am-pagination-next"><a href="">{{ _('Next Page') }} &raquo;</a></li>
</ul> -->



{% end %}
