{% extends "base.html" %}

{% block main_title %}
  {{ _("Task List") }} |
{% end %}

{% block active %}
  {% set active = 'list' %}
{% end %}

{% block neck %}
<style>
  .cover {
    text-align: center;
  }

  .cover .am-icon-image {
    font-size: 8rem;
    margin-top: -100px !important;
  }

  .cover .am-icon-times {
    font-size: 11rem;
    margin-left: -85px;
    color: rgba(235, 229, 255, 0.5);
  }

  .page {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .pagination {
    color: white;
  }

  a.pagination:hover {
    color: white;
  }

  hr {
    margin: 0;
  }

  .item {
    position: relative;
    z-index: 1;
  }

  .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity:0.2;
  }
</style>
{% end %}

{% block stomach %}

<div class="page am-margin">
  <hr />
  {% for source in sources %}
  <div class="item">
    {% if source.banner %}
    <div class="bg" style="background-image: url({{ source.banner }});"></div>
    {% end %}
    <div class="am-g am-padding">
      <div class="cover am-u-sm-12 am-u-md-3">
        {% if source.cover %}
        <img src="{{ source.cover }}" class="am-img-responsive am-img-thumbnail" />
        {% else %}
        <span class="am-icon-image"></span><span class="am-icon-times"></span>
        {% end %}
      </div>
      <div class="am-u-sm-12 am-u-md-9">
        <div class="am-margin">
          <p>
            <b>{{ _('Source') }}</b>:
            <a href="{{ source.link }}" target="_blank">
              {{ source.title }}
              <span class="am-icon-external-link"></span>
            </a>
          </p>
          {% if source.author %}
          <p>
            <b>{{ _('Author') }}</b>:
            {{ source.author }}
          </p>
          {% end %}
          <p>
            <b>{{ _('Translation') }}</b>:
            {% if source.translated %}
            <a class="am-icon-check" href="/{{ source.translated }}/"> {{ _('Done') }}</a>
            |
            {% end %}
            <a class="am-icon-edit" href="/tr/?source={{ quote(source.link) }}"> {{ _('Edit') }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  {% end %}
</div>

  <div class="am-g am-padding">
    {% if prev_page %}
    <a href="/list/{{ 'page/%s/' % prev_page if prev_page != 1 else '' }}" class="am-fl am-btn-link pagination">&laquo; {{ _('Prev Page') }}</a>
    {% end %}

    {% if get_next_page() %}
    <a href="/list/page/{{ get_next_page() }}/" class="am-fr am-btn-link pagination">{{ _('Next Page') }} &raquo;</a>
    {% end %}
  </div>


{% end %}
