{% extends "base.html" %}

{% block main_title %}
  {{ _("Manage Posts") }} |
{% end %}

{% block neck %}
<style>
  .box {
    background-color: white;
  }

  h6 {
    margin: 0;
    display: inline;
  }

  fieldset {
    margin: 0;
    padding: 5px 10px 5px 10px;
  }
</style>
{% end %}

{% block stomach %}
<div class="am-g am-g-fixed">
  <div class="am-padding box">
    <h1 class="am-text-center">{{ _('Manage Posts') }}</h1>
    <hr />
    {% for each in articles %}
    <form class="am-panel {{
    ['am-panel-warning', 'am-panel-default', 'am-panel-danger'][each.status]
    }}" method="post">
      <fieldset>
        {% raw xsrf_form_html() %}
        <input style="display: none" value="{{ each.slug }}" name="slug" />
        <div class="am-cf">
          <span class="am-badge am-radius {{ 'am-icon-language am-badge-warning' if each.source else 'am-icon-pencil am-badge-success' }}"> </span> <a href="/{{ each.slug }}/"><h6>{{ each.title }}</h6></a>
          <button class="am-btn am-btn-sm am-btn-danger am-fr" type="submit" data-am-loading="{spinner: 'slack', loadingText: ''}"><span class="am-icon-trash"> {{ _('Delete') }}</span></button>
          <a class="am-btn am-btn-sm am-btn-default am-fr am-icon-edit" href="{{ each.edit_link }}">{{ _('Edit') }}</a>
        </div>
      </fieldset>
    </form>
    {% end %}
  </div>
</div>
{% end %}

{% block leg %}
<script src="{{ static_path('js/jolla/posts.js') }}"></script>
{% end %}