{% extends "base.html" %}

{% block main_title %}
    {{  _("Edit Translation Task") if source else _("New Translation Task") }}
{% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/amazeui.tagsinput.css">
<style>
  .am-tagsinput {
    padding: 8px 8px 8px 28px;
  }
</style>
{% end %}

{% block active %}
  {% set active = 'task' %}
{% end %}

{% block stomach %}

<h1 style="text-align: center;">
    {{  _("Edit Translation Task") if source else _("New Translation Task") }}
</h1>

<form class="am-form" method="POST">
  <fieldset>
    <legend>{{ _("Article Information") }}</legend>

    {% raw xsrf_form_html() %}

    <!-- link -->
    <div class="am-form-group am-form-icon">
      <i class="am-icon-external-link"><span style="color: red">*</span></i>
      <input type="text" class="am-form-field" name="link" value="{{ source.link or '' }}" placeholder=" {{ _('Link') }}" required="required"/>
    </div>

    <!-- title -->
    <div class="am-form-group am-form-icon">
      <i class="am-icon-header"></i>
      <input type="text" class="am-form-field" name="title" value="{{ source.title or '' }}" placeholder="{{ _('Title') }}"/>
    </div>

    <!-- author -->
    <div class="am-form-group am-form-icon">
      <i class="am-icon-edit"></i>
      <input type="text" class="am-form-field" name="author" value="{{ source.author or '' }}" placeholder=" {{ _('Author') }}"/>
    </div>

    <!-- banner image -->
    <div class="am-form-group am-form-icon">
      <i class="am-icon-map-signs"></i>
      <input type="text" class="am-form-field" name="banner" value="{{ source.banner or '' }}" placeholder="{{ _('Banner Image') }}" />
    </div>

    <!-- conver image -->
    <div class="am-form-group am-form-icon">
      <i class="am-icon-shirtsinbulk"></i>
      <input type="text" class="am-form-field" name="cover" value="{{ source.cover or '' }}" placeholder="{{ _('Cover Image') }}" />
    </div>

    <!-- url slug -->
    <div class="am-form-group am-form-icon">
      <i class="am-icon-link"></i>
      <input type="text" class="am-form-field" name="slug" value="{{ source.slug or source.translated or '' }}" placeholder="{{ _('SLUG') }}" />
    </div>

    <!-- tag -->
    <div class="am-form-group am-form-icon">
      <i class="am-icon-tags"></i>
      <input type="text" class="am-form-field" name="tag" value="{{ ','.join(source.tag) }}" placeholder="{{ _('Tag') }}" data-am-tagsinput/>
    </div>

    <div class="am-u-sm-12">
      <div class="am-cf">
        <button
            type="submit"
            class="am-btn am-btn-primary am-fr am-margin-vertical-sm"
            id="submit"
            data-am-loading="{spinner: 'circle-o-notch', loadingText: ''}">
          <span class="am-icon-arrow-up"> {{ _("Submit") }}</span>
        </button>
      </div>
    </div>

  </fieldset>
</form>
{% end %}

{% block leg %}
<script src="/static/js/amazeui.tagsinput.min.js"></script>
<script src="/static/js/jolla/task.js"></script>
{% end %}
