{% extends "base.html" %}

{% block main_title %}
  {{ _("Translate") }}: {{ source.title or article.source.get('title', None) or '[EMPTY]' }}
{% end %}

{% block neck %}
<link rel="stylesheet" href="/static/css/editor.css">
<link rel="stylesheet" href="/static/css/amazeui.tagsinput.css">
<link rel="stylesheet" href="/static/css/jolla/tr.css">
{% end %}
{% block stomach %}

<div class="am-margin">
  <div class="header">
    <div class="am-g">
      <h1>{{ _("Translate") }}: {{ source.title or article.source.get('title', '') }}</h1>
    </div>
    <hr />
  </div>

  <form method="post">
    <fieldset>
      {% raw xsrf_form_html() %}
      <!-- title -->
      <div class="am-form-group">
        <label for="title">{{ _("Title") }}</label>
        <input type="text" name="title" class="am-form-field" id="title" value="{{ article.title or '' }}" placeholder="{{ source.title or '' }}" required="required">
      </div>
      <!-- description -->
      <div class="am-form-group">
        <label for="description">{{ _("Description") }}</label>
        <textarea class="am-form-field" name="description" id="description" placeholder="{{ _('Enter the description of this post') }}">{{ article.description or '' }}</textarea>
      </div>
      <!-- Original Author -->
      <div class="am-form-group">
        <label for="original-author">{{ 'Original Author' }}</label>
        <input type="text" class="am-form-field" id="original-author" name="original-author" value="{{ source.author or '' }}" required="required"/>
      </div>

      <div class="am-form-group">
        <label for="source-link">{{ _('Source Link') }}: </label>
        <a class="white" id="source-link" href="{{ source.link }}" target="_blank">{{ source.link }} <span class="am-icon-external-link"></span> </a>
      </div>
      <!-- More -->
      <a data-am-collapse href="#more" class="white">{{ _('More') }} <span class="am-icon-angle-double-right"></span></a>
      <div id="more" class="am-collapse">
        <div class="am-form-group">
          <label for="cover">{{ 'Cover' }}</label>
          <input type="text" class="am-form-field" id="cover" name="cover" value="{{ article.cover or source.cover or '' }}" />
        </div>
        <div class="am-form-group">
          <label for="banner">{{ 'Banner' }}</label>
          <input type="text" class="am-form-field" id="banner" name="banner" value="{{ article.banner or source.banner or '' }}" />
        </div>
        <div class="am-form-group">
          <label for="tag">{{ 'Tag' }}</label>
          <input type="text" class="am-form-field" id="tag" name="tag" value="{{ ','.join(article.tag) if article.tag else ','.join(source.tag) }}" data-am-tagsinput/>
        </div>
        <div class="am-form-group">
          <label for="slug">{{ 'Slug' }}</label>
          <input type="text" class="am-form-field" id="slug" name="slug" value="{{ article.slug or '' }}" />
        </div>
      </div>

      <hr />

      <div class="am-form-group">
        <div class="am-btn-toolbar" id="mdEditorToolbar">
          {% module MdBar(upload_img=imgs, upload_file=files) %}
          <div class="am-btn-group">
            <button type="button" class="am-btn am-btn-danger am-radius" data-role="preview" data-am-modal="{target: '#preview-popup'}" data-am-popover="{content: '{{ _('Preview') }}', trigger: 'hover focus'}"><span class="am-icon-eye"></span></button>
          </div>
        </div>
        <!-- translated area -->
        <textarea class="am-form-field" name="content" id="mdEditor" tabindex="0" placeholder="&#xe601; {{ _('Markdown syntax supported') }}" required="required">{{ article.content or '' }}
        </textarea>
      </div>

      <div class="am-form-group">
        <button type="submit"
                class="am-btn am-btn-success am-fr"
                data-am-loading="{spinner: 'ge', loadingText: ''}">
          <span class="am-icon-arrow-up"> {{ _("Submit") }}</span>
        </button>
      </div>
    </fieldset>
  </form>
</div>

<div class="am-popup" id="preview-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h6 class="am-popup-title">Preview</h6>
      <span data-am-modal-close class="am-close">&times;</span>
    </div>
    <div class="am-popup-bd">
      <div class="am-g" id="preview">
      </div>
      <hr />
      <article class="am-article">
        <div class="am-article-hd">
        </div>
        <div class="am-article-bd">
          <!--<p class="am-article-lead"></p>-->
        </div>
      </article>
    </div>
  </div>
</div>
{% end %}

{% block leg %}
<script src="https://dn-tomorrow.qbox.me/jquery-textrange.min.js"></script>
<script src="https://dn-tomorrow.qbox.me/showdown.min.js"></script>
<script src="/static/js/amazeui.tagsinput.min.js"></script>
<script src="/static/js/md/editor-md.js"></script>
<script src="/static/js/jolla/translate.js"></script>
{% end %}
