#title-img {
  width: 100%;
  height: auto;
}

#white-bg-box {
  background-color: #FFF;
}

article h1 {
  text-align: center;
}

.am-article-bd p img {
  max-width: 100%;
  height: auto;
  display: inline !important;
  margin: 0 2px 0 2px;
}

#page-box {
  padding: 50px 10px 30px 10px;
  max-width: 600px;
}

.am-article-lead p:last-child {
  margin: 0;
}

.am-article-bd p {
  text-indent: 2em;
}

.am-article-bd *[class*="icon"] {
  text-indent: 0;
}

.am-article-bd li p {
  text-indent: 0;
}

.footnote p,
#original-author p {
  text-indent: 0;
}

.am-footer-default {
  background-color: transparent;
  color: #fff;
}
.am-footer-default p {
  color: #fff;
}

.am-footer-default a {
  color: #fff;
}

video {
  width: 100%;
  height: auto;
}

ruby {
  background-color: rgba(213, 241, 211, 0.4);
  margin: 4px;
  padding: 0 2px;
}

ruby > rt {
  font-style: italic;
  color: #4DB651;
}

.am-gallery-item {
  text-align: center;
}

.admonition {
  border-style: dotted;
  margin: 1px;
  padding: 1px;
  border-color: #D3D3D3;
}

.admonition p {
  text-indent: unset;
}

.admonition p:last-child {
  margin-bottom: 0;
}

strong.underline {
  font-weight: normal;
  text-decoration: underline;
}
