img.cover-img {
  width: 100%;
  height: auto;
}

.white {
  background-color: #fff !important;
}

.white-text {
  color: #fff;
}

#bread-crumbs {
  color: #fff;
}

#bread-crumbs a:link {
  color: #fff;
}
#bread-crumbs a:visited {
  color: #fff;
}
#bread-crumbs a:hover {
  color: #fff;
  text-decoration:underline;
}