.box {
  background-color: white;
}

.sites {
  text-align: center;
}
.sites a.site:hover {
  text-shadow: 0 0 5px rgb(62, 255, 230);
}

.sites a.site img {
  opacity: 0.8;

  /*Transition*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  /*Reflection*/
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}


.sites a.site img:hover {
  opacity: 1;

  /*Reflection*/
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));

  /*Glow*/
  -webkit-box-shadow: 0 0 20px rgba(62, 255, 230, 0.8);
  -moz-box-shadow: 0 0 20px rgba(62, 255, 230, 0.8);
  box-shadow: 0 0 20px rgba(62, 255, 230, 0.8);
}