{% extends "base.html" %}

{% block subtitle %} | {{ _('Information') }}{% end %}

{% block highlight %}
  {% set highlight = ['info'] %}
{% end %}

{% block guide %}<span class="am-icon-user"> <strong class="am-text-primary am-text-lg">{{ _("Personal Information") }}</strong></span> / <small>{{ _("Anything about you") }}</small>{% end %}

{% block content %}
<div class="am-g am-padding">
  <span class="am-icon-info-circle am-text-primary"></span><small> {{ _('You can change your name, email and password in "Security" panel') }}</small>
</div>

<hr class="am-divider am-divider-default"/>

<div class="am-g am-padding">
  <div class="am-u-sm-12 am-u-md-3">
    <p>
      <img id="avatar" class="am-circle am-img-thumbnail am-img-responsive" id="userimg" src="{{ user_img if user_img else '/static/img/user.jpg'}}" alt="Avatar of {{ user_name }}">
    </p>
  </div>
  <form class="am-form am-u-sm-12 am-u-md-9" action="{{ request.uri }}"  method="POST">

    <fieldset>
      <legend>{{ _("My Personal Infomation")}}</legend>
    </fieldset>

    {% module xsrf_form_html() %}

    <!--Name-->
    <div class="am-form-group">
      <label><span class="am-icon-user"> {{ _("Name") }}</span></label>: {{ user_name }} &nbsp; &nbsp; &nbsp;<a class="am-btn  am-btn-default" href="{{ main_url }}/secure/">{{ _("Change") }}</a>
    </div>

    <!--User Group-->
    <div class="am-form-group">
      <label><span class="am-icon-users"> {{ _("User Group") }}</span></label>:
      {% if user_type == NORMAL %}
        {{ _("User") }}
      {% elif user_type == ADMIN %}
        {{ _("Administor") }}
      {% elif user_type == ROOT %}
        {{ _("Root") }}
      {% else %}
        ???
      {% end %}
    </div>

    <!-- Account status -->
    <div class="am-form-group">
      <label class="am-icon-child">
        {{ _("Active") }}:
      </label>
      <span class="{{ 'am-text-success am-icon-check' if active else 'am-text-danger am-icon-times' }}"></span>
    </div>

    <!--Email-->
    <div class="am-form-group">
      <label>
        <span class="am-icon-envelope">
          {{ _("Email") }}
        </span>
      </label>:
      {{ user_email }} &nbsp; &nbsp; &nbsp;
      <a class="am-btn am-btn-default" href="{{ main_url }}/secure/">{{ _("Change") }}</a>
    </div>

    <!--Show Email-->
    <div class="am-form-group">
      <label for="show_email">
        <span class="{{ 'am-icon-eye' if show_email else 'am-icon-eye-slash' }}">
          {{ _("Show Email") }}
        </span>
      </label>:
      <label class="am-checkbox-inline">
        <input id="show_email" name="show_email" type="checkbox" value="show_email" data-am-ucheck {{ 'checked' if show_email else ''}}>
        {{ _("Show my email when someone visits my homepage") }}
      </label>
    </div>

    <!--Show Intro-->
    <div class="am-form-group">
      <label>
        <span class="am-icon-info-circle">
          {{ _("Show Introduction on") }}
        </span>
      </label>:
      <label class="am-checkbox-inline">
        <input name="intro_in_home" type="checkbox" data-am-ucheck {{ 'checked' if intro['show_in_home'] else '' }}>
        <span class="am-icon-home"> {{ _('My Home Page') }}</span>
      </label>
      <label class="am-checkbox-inline">
        <input name="intro_in_article" type="checkbox" data-am-ucheck {{ 'checked' if intro['show_in_article'] else '' }}>
        <span class="am-icon-list-alt"> {{ _('My Articles') }}</span>
      </label>
    </div>

    <!--Show Donation-->
    <div class="am-form-group">
      <label>
        <span class="am-icon-credit-card">
          {{ _("Show Donation on") }}
        </span>
      </label>:
      <label class="am-checkbox-inline">
        <input name="donate_in_home" type="checkbox" data-am-ucheck {{ 'checked' if donate['show_in_home'] else '' }}>
        <span class="am-icon-home"> {{ _('My Home Page') }}</span>
      </label>
      <label class="am-checkbox-inline">
        <input name="donate_in_article" type="checkbox" data-am-ucheck {{ 'checked' if donate['show_in_article'] else '' }}>
        <span class="am-icon-list-alt"> {{ _('My Articles') }}</span>
      </label>
    </div>

    <!-- Avatar -->
    <div class="am-form-group">
      <label for="url-avatar"><span class="am-icon-instagram"> {{ _(("Change" if user_img else "Set") + " Avatar (URL)") }}:</span></label>
      <input type="text" id="url-avatar" name="img_url" placeholder="{{ _("Enter the url of your avatar image") }}" value="{{ user_img if user_img else ''}}">
      <button class="am-btn am-btn-default am-btn-xs" id="preview-avatar">{{ _("Preview") }}</button>
      <small>
        {{ _("You havn't set avatar yet") if not user_img else "" }}
        {% if user_type == NORMAL %}
          {{ _("Enter the url of your avatar image") }}
        {% else %}
          {% raw _('Need upload? Visit "{a}Gallery{a_end}" panel').format(
                   a='<a href="%s">' % main_url, a_end='</a>') %}
        {% end %}
      </small>
    </div>

    <!-- Intro -->
    <div class="am-form-group">
      <label for="intro" class="am-icon-info"> {{ _('My Introduction') }}:</label>
      <textarea id="intro" name="intro" placeholder="&#xe601; {{ _('MarkDown Syntax Supported') }}">
        {{ intro['content'] or '' }}</textarea>
      <small>You can write in <span class="iconfont icon-md-solid">Markdown</span> combining some HTML tags</small>
    </div>

    <!-- Donate -->
    <div class="am-form-group">
      <label for="donate" class="am-icon-credit-card"> {{ _('My Donating information') }}:</label>
      <textarea id="donate" name="donate" placeholder="&#xe601; {{ _('MarkDown Syntax Supported') }}">
        {{ donate['new'] or '' }}</textarea>
      <small>You can write in <span class="iconfont icon-md-solid">Markdown</span>, HTML &amp; Javascript but it requires administer's verification each time you modify it</small><br />
      <small>Your donate information status:
        {% if donate['info'] %}
          {% raw donate['info'] %}
        {% else %}
          <span class="am-icon-check am-text-success"></span>
        {% end %}
      </small>
    </div>
    <div id="error-panel">
    </div>
    <div class="am-form-group am-cf">
      <button class="am-btn am-btn-success am-fr" type="submit" data-am-loading="{spinner: 'circle-o-notch', loadingText: ''}">
        <span class="am-icon-save"></span>
      </button>
    </div>
  </form>
</div>

{% end %}

{% block leg %}
<script>
$(function()
{
  var $avatar = $("#url-avatar");
  var $avatar_btn = $("#preview-avatar");
  var $avatar_display = $("#avatar");
  $avatar_btn.click(function(evt)
  {
    evt.preventDefault();
    var url = $avatar.val();
    if (!url)
      return $avatar.parent().addClass("am-form-error");
    $avatar.parent().removeClass("am-form-error");
    $avatar_display.prop("src", url);
  });

  var set_info = function(msg, error)
  {
    var cls = error? 'danger': 'success';
    $("#error-panel").html(
      '<div class="am-alert am-alert-' + cls + '" data-am-alert>' +
        '<button type="button" class="am-close">&times;</button>' +
        '<p>' + msg + '</p>' +
      '</div>'
    );
  };

  $("form").submit(function(event)
  {
    event.preventDefault();
    var $form = $(this);
    var $fieldset = $form.find('fieldset');
    var $submit = $form.find('button[type="submit"]');

    var values = {};
    $.each($form.serializeArray(), function(_, field)
    {
      values[field.name] = field.value;
    });
    console.log(values);

    var url = values['img_url'];
    console.log(url);
    if (url)
      $avatar_btn.click();

    $fieldset.prop('disabled', true);
    $submit.button('loading');
    $.ajax(
      settings = {
        'data': values,
        'type': 'post',
        'beforeSend': function(jqXHR, settings){
          jqXHR.setRequestHeader('X-Xsrftoken', $.AMUI.utils.cookie.get('_xsrf'));
        }
      }
    ).done(function(data, textStatus, jqXHR)
    {
      var obj = $.parseJSON(data);
      set_info(_('Done. Refresh to check the result.'), false);
    }).fail(function(jqXHR, textStatus, errorThrown)
    {
      set_info(
        _("Sorry, a server error occured, please refresh and retry") +
        " (" +
        jqXHR.status +
        ": " +
        errorThrown +
        ")",
        true
      )
    }).always(function(data_jqXHR, textStatus, jqXHR_errorThrown)
    {
      $fieldset.prop('disabled', false);
      $submit.button('reset');
    });
    return false;
  });

});
</script>
{% end %}
