{% extends "base.html" %}

{% block subtitle %} | {{ _('Security') }}{% end %}

{% block highlight %}
  {% set highlight = ['secure'] %}
{% end %}

{% block guide %}<span class="am-icon-lock"> <strong class="am-text-primary am-text-lg">{{ _("Security Settings") }}</strong></span> / <small>{{ _("Anything about your account") }}</small>{% end %}

{% block content %}

<div class="am-padding">
  <span class="am-icon-warning am-text-danger am-icon-fw"></span><small> {{ _("Note changing user name or email may cause unexpected result") }}</small>
</div>
<hr class="am-divider am-divider-default">

<div id="info-panel">
  <div class="am-alert" data-am-alert  style="{{ '' if verify_mail else 'display:none'}}">
    <button type="button" class="am-close">&times;</button>
    <p>{{ _('Please check your email "%s" to active your account') % user_email }}</p>
  </div>
</div>

{% if verify_mail %}
<!-- name -->
<div class="am-padding am-g">
  <div class="am-u-sm-4 am-u-md-2">
    <label><span class="am-icon-user"> {{ _("Name") }}:</span></label>
  </div>
  <div class="am-u-sm-3 am-u-md-8">
    <p>{{ user_name }} </p>
  </div>
  <div class="am-u-sm-5 am-u-md-2 am-cf">
    <p class="am-text-warning am-fr">{{ _("Please verify your email first") }}</p>
  </div>
</div>
<!-- name | end -->

<!-- email -->
<div class="am-g am-padding">
  <div class="am-u-sm-4 am-u-md-2">
    <label><span class="am-icon-envelope"> {{ _("Email") }}:</span></label>
  </div>
  <div class="am-u-sm-8 am-u-md-10">
    <form action="{{ request.uri }}" method="post">
      <fieldset>
        {% raw xsrf_form_html() %}
        <input class="am-hide" name="action" value="verify_email">
        <input class="am-form-field am-inline am-input-sm" id="email-input" name="email" value="{{ user_email }}" style="width:65%">
        <button type="submit" class="am-btn am-btn-success am-btn-xs" id="email-btn" data-am-loading="{spinner: 'circle-o-notch', loadingText: '', resetText: '{{ _("Send Confirm Mail") }}'}">{{ _("Send Confirm Mail") }}</button>
      </fieldset>
    </form>
  </div>
</div>
<!-- email | end -->

<!-- password -->
<div class="am-g am-padding">
  <div class="am-u-sm-4 am-u-md-2">
    <label><span class="am-icon-key"> {{ _("Password") }}:</span></label>
  </div>
  <div class="am-u-sm-3 am-u-md-8">
    <p>********</p>
  </div>
  <div class="am-u-sm-5 am-u-md-2 am-cf">
    <p class="am-text-warning am-fr">{{ _("Please verify your email first") }}</p>
  </div>
</div>
<!-- password | end -->

{% else %}

<div class="am-padding">
  <form class="am-form" method="POST" action="{{ request.uri }}">
    <fieldset>
      <table class="am-table am-table-bordered box-shadow am-table-striped am-table-hover">
        <thead>
            <tr>
              <th class="am-text-middle">
                <label class="am-checkbox am-secondary">
                  <input type="checkbox" name="check-all" data-am-ucheck> <b>{{ _('Modify') }}</b>
                </label>
              </th>
              <th class="am-text-middle">{{ _('Value') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <label class="am-checkbox">
                  <input type="checkbox" name="name" data-am-ucheck> {{ _("Name") }}
                </label>
              </td>
              <td class="am-text-middle">
                <span class="am-icon-user"> {{ user_name }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="am-checkbox">
                  <input type="checkbox" name="email" data-am-ucheck> {{ _("Email") }}
                </label>
              </td>
              <td class="am-text-middle"><span class="am-icon-envelope"> {{ user_email }}</span></td>
            </tr>
              <td>
                <label class="am-checkbox">
                  <input type="checkbox" name="pwd" data-am-ucheck> {{ _("Password") }}
                </label>
              </td>
              <td class="am-text-middle"><span class="am-icon-key"> ********</span></td>
            <tr {% if not active %} class="am-danger" {% end %}>
              <td><span class="am-icon-child">&nbsp;&nbsp;</span>{{ _("Active") }}</td>
              <td><span class="{{ 'am-text-success am-icon-check' if active else 'am-text-danger am-icon-times' }}"></span></td>
            </tr>
        </tbody>
      </table>
      <button
          type="submit"
          class="am-btn am-btn-primary"
          id="submit_change"
          data-am-loading="{spinner: 'refresh', loadingText: '', resetText: '{{ _('Submit') }}'}"
          disabled>
        {{ _('Submit') }}
      </button>
    </fieldset>
  </form>
</div>

{% end %}


<div class="am-g am-padding">
  <div class="am-u-sm-12">
    <form action="{{ request.uri }}" method="post">
      <fieldset>
        {% raw xsrf_form_html() %}
        <input class="am-hide" name="action" value="resend">
        <p class="am-fr">{{ _("Doesn't recive the email? Try this") }}: &nbsp;
          <button class="am-btn" id="resend-btn"
              type="submit"
              data-am-loading="{spinner: 'refresh', loadingText: '', resetText: '{{ _('Resend') }}'}">
            {{ _('Resend') }}</button>
        </p>
      </fieldset>
    </form>
  </div>
</div>

{% end %}

{% block leg %}
<script src="/static/js/dash/secure.js"></script>
{% end %}
