{% extends "../base.html" %}

{% block main_title %}
  {{ _("Manage Post") }} |
{% end %}

{% block active %}
  {% set active = 'manage-post' %}
{% end %}

{% block neck %}
<style>
  #page {
    background-color: white;
    padding: 50px;
  }

  fieldset {
    padding: 0;
    margin: 0;
  }

  .am-panel-bd {
    padding-bottom: 0;
  }

  .am-tab-panel {
    padding-bottom: 3px !important;
  }

  .am-tab-panel > .am-form-group:last-child {
    margin-bottom: 0;
  }
</style>
{% end %}

{% block stomach %}
<div id="page">
  <h1 class="am-text-center">{{ _('Manage Post') }}</h1>
  <hr />

  {% for each in posts %}

    <form class="am-panel {{ ['am-panel-warning', 'am-panel-secondary', 'am-panel-default'][each.status] }}" method="post">
      <div class="am-panel-hd">
        <h6 class="am-panel-title" data-am-collapse="{target: '#{{ each._id }}'}">{{ each.get('title') }}</h6>
      </div>
      <fieldset id="{{ each._id }}" class="am-panel-collapse am-collapse">
        <div class="am-panel-bd">
          <div class="content"></div>
          <div class="delete"></div>
        </div>
        <div class="am-panel-footer am-cf">
          <div class="am-fr">
            <button class="am-btn am-btn-xs am-btn-danger" data-role="delete"data-am-loading="{spinner: 'times', loadingText: ''}"><span class="am-icon-trash"></span></button>
            <button class="am-btn am-btn-xs am-btn-primary" type="submit"  data-am-loading="{spinner: 'refresh', loadingText: ''}"><span class="am-icon-save"></span></button>
          </div>
        </div>
      </fieldset>
    </form>

  {% end %}

</div>
{% end %}

{% block leg %}
<script src="/static/js/jolla/manage/post.js"></script>
{% end %}