{% extends "../base.html" %}

{% block main_title %}
  {{ _("Manage Translation") }} |
{% end %}

{% block active %}
  {% set active = 'manage-tr' %}
{% end %}

{% block neck %}
<style>
  #page {
    background-color: white;
    padding: 50px;
  }

  fieldset {
    padding: 0;
    margin: 0;
  }
</style>
{% end %}

{% block stomach %}
<div id="page">
  <h1 class="am-text-center">{{ _('Manage Translation') }}</h1>
  <hr />

  {% for each, count in sources %}

    <form class="am-panel {% if each.translated %}
                          am-panel-default
                         {% elif count == 0 %}
                          am-panel-danger
                         {% else %}
                          am-panel-warning
                         {% end %}" method="post">
      <div class="am-panel-hd">
        <h6 class="am-panel-title" data-am-collapse="{target: '#{{ each._id }}'}"><span class="am-badge">{{ count }}</span> {{ each.title or each.slug or each.link }}</h6>
      </div>
      <fieldset id="{{ each._id }}" class="am-panel-collapse am-collapse">
        <div class="am-panel-bd">
          <div class="content"></div>
          <div class="delete"></div>
        </div>
        <div class="am-panel-footer am-cf">
          <div class="am-fr">
            <button class="am-btn am-btn-xs am-btn-danger" data-role="delete"data-am-loading="{spinner: 'times', loadingText: ''}"><span class="am-icon-trash"></span></button>
            <button class="am-btn am-btn-xs am-btn-primary" type="submit"  data-am-loading="{spinner: 'refresh', loadingText: ''}"><span class="am-icon-save"></span></button>
          </div>
        </div>
      </fieldset>
    </form>

  {% end %}

</div>
{% end %}


{% block leg %}
<script src="/static/js/jolla/manage/translate.js"></script>
{% end %}