{% extends "../base.html" %}

{% block main_title %}
  {{ _("Manage User") }} |
{% end %}

{% block active %}
  {% set active = 'manage-user' %}
{% end %}

{% block neck %}
<style>
  #page {
    background-color: white;
    padding: 50px;
  }
  h6 {
    margin: 0;
    display: inline;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  .avatar {
    max-width: 100px;
  }

  .photo-component {
    position: relative;
  }

  .photo-component i {
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
  }

  .photo-component input {
    padding-left: 28px !important;
    display: inline !important;
    width: 70% !important;
  }

  .photo-component button {
    margin-left: 10px;
    display: inline;
    width: auto;
  }
</style>
{% end %}

{% block stomach %}
<div id="page">
  <h1 class="am-text-center">{{ _('Manage User') }}</h1>
  <hr />

  {% for each in users %}

  <form class="am-panel {{
    ['am-panel-warning', 'am-panel-default', 'am-panel-secondary', 'am-panel-primary'][each.type]
    }}" method="post" enctype="multipart/form-data" method="post">
    <div class="am-panel-hd" data-am-collapse="{target: '#{{ each._id }}'}">
      <h6 class="am-panel-title">{{ each }}</h6>
    </div>
    <fieldset class="am-collapse" id="{{ each._id }}">
      <div class="am-panel-bd">
      {% raw xsrf_form_html() %}
      <input name="_id" value="{{ each._id }}" style="display:none" />
      <input name="action" value="" style="display:none" />

      <div class="am-cf">
        <div class="am-fl">
          <img src="{{ each.photo or '/static/img/user.jpg' }}" class="am-img-responsive am-img-thumbnail am-circle avatar" />
        </div>
      </div>

      <div class="am-form-group">
        <label for="name">{{ _('Name') }}</label>
        <div class="am-form-group am-form-icon">
          <i class="am-icon-user"></i>
          <input type="text" class="am-form-field" id="name" name="name" value="{{ each.name }}" required="required"/>
        </div>
      </div>

      <div class="am-form-group">
        <label for="email">{{ _('Email') }}</label>
        <div class="am-form-group am-form-icon">
          <i class="am-icon-at"></i>
          <input type="email" class="am-form-field" id="email" name="email" value="{{ each.email or '' }}"/>
        </div>
      </div>

      <div class="am-form-group">
        <label for="group">{{ _('Group') }}</label>
        <div class="am-form-group am-form-icon">
          <i class="am-icon-users"></i>

          <select class="am-form-field" name="group">
            <option value="{{ each.DEACTIVE }}" {{ 'selected' if each.type == each.DEACTIVE else '' }}>{{ _('Deactive') }}</option>
            <option value="{{ each.NORMAL }}" {{ 'selected' if each.type == each.NORMAL else '' }}>{{ _('Normal User') }}</option>
            <option value="{{ each.ADMIN }}" {{ 'selected' if each.type == each.ADMIN else '' }}>{{ _('Administor') }}</option>
            <option value="{{ each.ROOT }}" {{ 'selected' if each.type == each.ROOT else '' }}>{{ _('Super User') }}</option>
          </select>

        </div>
      </div>

      <div class="am-form-group">
        <label for="avatar">{{ _('Avatar') }}</label>
        <div class="am-form-group photo-component">
          <i class="am-icon-camera"></i>
          <input type="{{ 'text' if each.photo else 'file'}}" class="am-form-field" id="avatar" name="avatar" value="{{ each.photo or '' }}"/>
          <button class="am-btn"><span class="am-icon-exchange"></span></button>
        </div>
      </div>

      <div class="am-form-group">
        <label for="home">{{ _('Home') }}</label>
        <div class="am-form-group am-form-icon">
          <i class="am-icon-link"></i>
          <input type="text" class="am-form-field" id="home" name="home" value="{{ each.home or '' }}"/>
        </div>
      </div>

      <div class="am-tabs" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
          <li class="am-active"><a href="#chinese">{{ _('Chinese') }}</a></li>
          <li><a href="#english">{{ _('English') }}</a></li>
        </ul>

        <div class="am-tabs-bd">
          <div class="am-tab-panel am-active" id="chinese">

            <div class="am-form-group">
              <label for="zh-intro">{{ _('Introduction') }}</label>
              <div class="am-form-group am-form-icon">
                <i class="am-icon-child"></i>
                <textarea class="am-form-field" id="zh-intro" name="zh-intro">{{ each.zh.get('intro', '') or '' }}</textarea>
              </div>
            </div>

            <div class="am-form-group">
              <label for="zh-donate">{{ _('Donation') }}</label>
              <div class="am-form-group am-form-icon">
                <i class="am-icon-money"></i>
                <textarea class="am-form-field" id="zh-donate" name="zh-donate">{{ each.zh.get('donate', '') or '' }}</textarea>
              </div>
            </div>

          </div>
          <div class="am-tab-panel" id="english">


            <div class="am-form-group">
              <label for="en-intro">{{ _('Introduction') }}</label>
              <div class="am-form-group am-form-icon">
                <i class="am-icon-child"></i>
                <textarea class="am-form-field" id="en-intro" name="en-intro">{{ each.en.get('intro', '') or '' }}</textarea>
              </div>
            </div>

            <div class="am-form-group">
              <label for="en-donate">{{ _('Donation') }}</label>
              <div class="am-form-group am-form-icon">
                <i class="am-icon-money"></i>
                <textarea class="am-form-field" id="en-donate" name="en-donate">{{ each.en.get('donate', '') or '' }}</textarea>
              </div>
            </div>


          </div>
        </div>
      </div>
        
      </div>
      <div class="am-panel-footer am-cf">
        <div class="am-fr">
          <button class="am-btn am-btn-xs am-btn-danger" data-role="delete" data-am-loading="{spinner: 'times', loadingText: ''}">
            <span class="am-icon-trash"></span>
          </button>
          <button class="am-btn am-btn-xs am-btn-primary" type="submit" data-am-loading="{spinner: 'refresh', loadingText: ''}">
            <span class="am-icon-save"></span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
  {% end %}

</div>
{% end %}


{% block leg %}
<script src="/static/js/jolla/manage/user.js"></script>
{% end %}